<!DOCTYPE html>
<html lang="fr">
<head>
    <title><%=@traducciones.find(81).frances%></title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","","","active","","" %>
<% idioma "fr" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well well__ins2 bg-primary">
            <div class="container">
                <h3 class="primary-color"><%=@traducciones.find(81).frances%></h3>

                <div class="row">
                    <div class="grid_4">
                        <img class="img-add" src="../assets/infografia-climalit-general.jpg" alt=""/></div>
                    <div class="grid_8">
                        <h5><%=@traducciones.find(130).frances%></h5><br />
                        <p><%=@traducciones.find(131).frances%></p><br />
 <h5><%=@traducciones.find(132).frances%></h5><br />
                        <p><%=@traducciones.find(133).frances%></p>
                         
                         <a class="btn1" href="http://www.climalit.es/climalit-plus-info/" target="_blank"><%=@traducciones.find(43).frances%> >></a>
					</div>
                </div>
            </div>
        </section>

    </main>
</div>
</body>
</html>