<!DOCTYPE html>
<html lang="fr">
<head>
    <title><%=@traducciones.find(72).frances%></title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","","active","","","" %>
<% idioma "fr" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
       
        <section class="well bg-primary">
            <div class="container">
                <h3 class="primary-color"><%=@traducciones.find(72).frances%></h3>

                <div class="row">
                    <div class="grid_4  wow fadeInLeft">
                        <div class="resp-center">
                            <img class="img-add" src="../assets/KBE.jpg" alt=""/>
                        </div>
                        <p class="big"><%=@traducciones.find(73).frances%></p>
                        <a class="btn1" href="http://www.kbe-online.com/" target="_blank"><%=@traducciones.find(43).frances%> >></a></div>
                    <div class="grid_4  wow fadeInUp">
                        <div class="resp-center">
                            <img class="img-add " src="../assets/SIEGENIA.png" alt=""/>
                        </div>
                        <p class="big"><%=@traducciones.find(74).frances%></p>
                        <a class="btn1" href="https://www.siegenia.com/es/" target="_blank"><%=@traducciones.find(43).frances%> >></a></div>
                    <div class="grid_4  wow fadeInRight">
                        <div class="resp-center">
                            <img class="img-add" src="../assets/PERSAX.jpeg" alt=""/>
                        </div>
                        <p class="big"><%=@traducciones.find(75).frances%><br/> <%=@traducciones.find(76).frances%></p>
                        <a class="btn1" href="http://www.persax.es/" target="_blank"><%=@traducciones.find(43).frances%> >></a></div>
                </div>
            </div>
        </section>
       
    </main>
</div>
</body>
</html>