<!DOCTYPE html>
<html lang="fr">
<head>
    <title><%=@traducciones.find(35).frances%></title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
 <% activo "","active","","","","" %>
 <% idioma "fr" %>
 <% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well well__ins2 bg-primary">
            <div class="container">
                <h3 class="primary-color"><%=@traducciones.find(35).frances%></h3>

                <div class="row">
                    <div class="grid_4">
                        <img class="img-add" src="../assets/nuestrosProductos.PNG" alt=""/></div>
                    <div class="grid_8">
                        <h5><%=@traducciones.find(36).frances%>
                        	<br />
                        	<%=@traducciones.find(37).frances%>
                        	</h5>
                        	<div class="row">
<div class="grid_4" style="width: 100%">
                                <ul class="marked-list offset2">
                                      <li><a ><%=@traducciones.find(38).frances%></a></li>
                                    <li><%=@traducciones.find(39).frances%> <%=link_to fr_couleurs_et_feuillete_path do%><strong><u><%=@traducciones.find(40).frances%></u></strong> <%end%> <%=@traducciones.find(41).frances%></li>
                                <li><a ><%=@traducciones.find(42).frances%></a></li>
                                 
                                </ul>
                       
                            </div>
                            </div>
                        <%=link_to fr_produits_path, :class => "btn1" do%><%=@traducciones.find(43).frances%> >><%end%>
					</div>
                </div>
            </div>
        </section>

    </main>
    <section class="well bg-primary">
        <div class="container">
            <div class="row">
                <div class="grid_6 wow fadeInLeft">
                    <h3 class="primary-color"><%=@traducciones.find(44).frances%></h3>
                    <ul class="index-list index-list1">
                        <li>
                            <div class="wrapper">
                                <h5 class="strong"><%=@traducciones.find(45).frances%></h5>

                            </div>
                        </li>

                        <li>
                            <div class="wrapper">
                                <h5 class="strong"><%=@traducciones.find(46).frances%></h5>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper">
                                <h5 class="strong"><%=@traducciones.find(47).frances%></h5>
                            </div>
                        </li>
                          <li>
                            <div class="wrapper">
                                <h5 class="strong"><%=@traducciones.find(48).frances%></h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="grid_6 wow fadeInLeft">
                    <h3 class="primary-color"></h3>
                    <ul class="index-list index-list2">
                          <li>
                            <div class="wrapper">
                                <h5 class="strong"><%=@traducciones.find(49).frances%></h5>
                            </div>
                        </li>
                          <li>
                            <div class="wrapper">
                                <h5 class="strong"><%=@traducciones.find(50).frances%></h5>
                            </div>
                        </li>
                           <li>
                            <div class="wrapper">
                                <h5 class="strong"><%=@traducciones.find(51).frances%></h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>