<!DOCTYPE html>
<html lang="fr">
<head>
    <title><%=@traducciones.find(34).frances%></title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","active","","","","" %>
<% idioma "fr" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
    	<section class="well well__ins2 bg-primary">
            <div class="container">
                <h3 class="primary-color"><%=@traducciones.find(23).frances%></h3>

                <div class="row">
                    
                    <div class="grid_8">
                        <h5><%=@traducciones.find(24).frances%><br /><br />
<%=@traducciones.find(25).frances%><br /> <%=@traducciones.find(26).frances%><br /><br />

<%=@traducciones.find(27).frances%><br /><br />

<%=@traducciones.find(28).frances%><br /><br />

<%=@traducciones.find(15).frances%><br /><br />

<%=@traducciones.find(13).frances%><br /><br />

<%=@traducciones.find(29).frances%><br /><br />

<%=@traducciones.find(30).frances%><br />
<%=@traducciones.find(31).frances%><br />
<%=@traducciones.find(32).frances%><br /><br />

<%=@traducciones.find(33).frances%>
</h5>
                        	
					</div>
					
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>