<!DOCTYPE html>
<html lang="fr">
<head>
    <title><%=@traducciones.find(77).frances%></title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
  <% activo "","","","active","","" %>
  <% idioma "fr" %>
  <% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well border">
            <div class="container">
                <h3 class=" primary-color"><%=@traducciones.find(77).frances%></h3>

                <div class="row">
                    <div class="grid_3 wow fadeInLeft">
                        <%=link_to fr_fenetres_path do%><div class="resp-center"><img src="../assets/ventanaProductos.jpg" alt=""/></div>
                        <h5 class="strong"><%=@traducciones.find(78).frances%></h5><%end%>

                    </div>
                    <div class="grid_3 wow fadeInLeft">
                       <%=link_to fr_portes_path do%> <div class="resp-center">
                            <img src="../assets/puerta.JPG" alt=""/>
                        </div>
                        <h5 class="strong"><%=@traducciones.find(79).frances%></h5><%end%>

                    </div>
                    <div class="grid_3 wow fadeInRight">
                       <%=link_to fr_boitiers_path do%> <div class="resp-center">
                            <img src="../assets/cerramientoProductos.JPG" alt=""/>
                        </div>
                        <h5 class="strong"><%=@traducciones.find(80).frances%></h5><%end%>

                    </div>
                    <div class="grid_3  wow fadeInRight">
                        <%=link_to fr_verreIntelligent_path do%><div class="resp-center"><img src="../assets/imagenes-cabecera-climalit.png" alt=""/>
                        </div>
                        <h5 class="strong"><%=@traducciones.find(81).frances%></h5><%end%>

                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>