<%= form_for(@diccionario) do |f| %>
  <% if @diccionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diccionario.errors.count, "error") %> prohibited this diccionario from being saved:</h2>

      <ul>
      <% @diccionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<style>
		textarea {
			width: 100%;
			height: 100px;
		}
		input[type="submit"]{
			width: 100%;
			height: 100%;
			font-size: 330%;
		}
	</style>
	
	
	<div class="tablaTraduciones" >
                <table >
                    <tr>
                    	<td>
                            Idioma
                        </td>
                        <td >
                            Traducción
                        </td>
                        </tr>
                        <tr>
                        <td style="text-align: center;">
                            Español
                        </td>
                        <td >
                           <%= f.text_area :espanol %>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            Inglés
                        </td>
                        <td >
                            <%= f.text_area :ingles %>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            Francés
                        </td>
                        <td >
                            <%= f.text_area :frances %>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            Alemán
                        </td>
                        <td >
                             <%= f.text_area :almenan %>
                        </td>
                    </tr>
                    <tr>
                    	
                        <td colspan="2" style="text-align: center;">
                           <div class="actions" style="margin: -30px -30px -30px -30px;">
    <%= f.submit "Actualizar Traducción"%>
  </div>
                        </td>
                    </tr>
                    <tr>
                    	
                        <td style="text-align: center;">
                            <%= link_to '=================Show=================', @diccionario %>
                        </td>
                        <td style="text-align: center;">
                            <%= link_to '=================BACK=================', diccionarios_path %>
                        </td>
                    </tr>
                </table>
            </div>
	
	


<% end %>
