<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Blog</title>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no"/>
		<% activo "","","","","","active" %>
		<% idioma "de" %>
		<% user @current_user %>
	</head>
	<body>
		<div class="page">
			<!--========================================================
			CONTENT
			=========================================================-->
			<main>
				<section class="well well__ins2 bg-primary">
					<div class="container">
						<h3 class="primary-color">Artículos</h3>
						<% contador=0%>
						<%if @articulosBlog!=nil%>
						<% @articulosBlog.each do |articulo| %>
						<% contador=contador+1%>
						<%if contador==1%>
						<div class="row">
							<%end%>
							<div class="grid_4">
								<div class="box2">
									<%=link_to articuloBlogEs_path(articulo.id) do%>
									<img src="../uploads/<%= articulo.foto %>" alt="" style="width: 100%; height: auto;"/>
									<%end%>

									<div class="box2_cnt">
										<h5 class="strong"> <%=link_to articuloBlogEs_path(articulo.id) do%><%= articulo.tituloEs %><%end%> </h5>

										<p class="big">
											<%= articulo.subtituloEs %>
										</p>
										<p class="fa fa-calendar">
											<%= articulo.created_at.to_s[0..10].split("-").reverse.join("/") %>
										</p>
									</div>
								</div>
							</div>
							<%if contador==3 or articulo.id==Articulo.first.id%>
							<% contador=0%>
						</div>
						<%end%>
						<%end%><%end%>
					</div>

				</section>

			</main>
		</div>
	</body>
</html>