<!DOCTYPE html>
<html lang="de">
<head>
    <title><%=@traducciones.find(63).almenan%></title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","active","","","","" %>
<% idioma "de" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <section class="well border" style="background-color: white;">
            <div class="container">
                <h3 class=" primary-color"><%=@traducciones.find(64).almenan%></h3>

                <div class="row">
                    <div class="grid_3 wow fadeInLeft">
                        <div class="resp-center"><img src="../assets/color-blanco.jpg" alt=""/></div>
                        <h5 class="strong"><%=@traducciones.find(65).almenan%></h5>
                    </div>
                </div>
            </div>
        </section>
        <section class="well border" style="background-color: white;">
            <div class="container">
                <h3 class=" primary-color"><%=@traducciones.find(66).almenan%></h3>

                <div class="row">
                    <div class="grid_3 wow fadeInLeft">
                        <div class="resp-center"><img src="../assets/color-roble-big.jpg" alt=""/></div>
                        <h5 class="strong"><%=@traducciones.find(67).almenan%></h5>
                        </div>
                    <div class="grid_3 wow fadeInLeft">
                        <div class="resp-center">
                            <img src="../assets/color-nogal-big.jpg" alt=""/>
                        </div>
                        <h5 class="strong"><%=@traducciones.find(68).almenan%></h5>
                    </div>
                    <div class="grid_3 wow fadeInRight">
                        <div class="resp-center">
                            <img src="../assets/montana.jpg" alt=""/>
                        </div>
                        <h5 class="strong"><%=@traducciones.find(69).almenan%></h5>
                    </div>
                    <div class="grid_3 wow fadeInRight">
                        <div class="resp-center">
                            <img src="../assets/antracita.jpg" alt=""/>
                        </div>
                        <h5 class="strong"><%=@traducciones.find(70).almenan%></h5>
                    </div>
                </div>
            </div>
        </section>
<section class="well border" style="background-color: white;">
            <div class="container">
                <h3 class=" primary-color"><%=@traducciones.find(71).almenan%></h3>

                <div class="row">
                    <a href="http://ralcolor.com/" target="_blank"><div class="grid_3 wow fadeInLeft">
                        <div class="resp-center"><img src="../assets/RAL.jpg" alt=""/></div>
                    </div></a>
                </div>
            </div>
        </section>

</div>
</body>
</html>