<!DOCTYPE html>
<html lang="de">
<head>
    <title><%=@traducciones.find(34).almenan%></title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","active","","","","" %>
<% idioma "de" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
    	<section class="well well__ins2 bg-primary">
            <div class="container">
                <h3 class="primary-color"><%=@traducciones.find(23).almenan%></h3>

                <div class="row">
                    
                    <div class="grid_8">
                        <h5><%=@traducciones.find(24).almenan%><br /><br />
<%=@traducciones.find(25).almenan%><br /> <%=@traducciones.find(26).almenan%><br /><br />

<%=@traducciones.find(27).almenan%><br /><br />

<%=@traducciones.find(28).almenan%><br /><br />

<%=@traducciones.find(15).almenan%><br /><br />

<%=@traducciones.find(13).almenan%><br /><br />

<%=@traducciones.find(29).almenan%><br /><br />

<%=@traducciones.find(30).almenan%><br />
<%=@traducciones.find(31).almenan%><br />
<%=@traducciones.find(32).almenan%><br /><br />

<%=@traducciones.find(33).almenan%>
</h5>
                        	
					</div>
					
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>