<!DOCTYPE html>
<html lang="es-ES">
<head>
    <title>Aviso Legal</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","","","","","" %>
<% idioma "es" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well well__ins2 bg-primary">
            <div class="container">
                <h3 class="primary-color">Aviso legal. Términos de uso.</h3>

                <div class="row">
                        <h5>Aviso legal.</h5>
                        <p>El presente portal "www.ventanastalleresmazo.com" (en adelante, el “portal“) es titularidad de URCIPLAST, S.L., (en adelante, “El prestador“), quien lo pone a disposición de los usuarios, personas físicas y jurídicas, de Internet con el fin de, entre otros, proporcionar y permitir información sobre los productos, servicios y ofertas de TALLERES MAZO.<br /><br />

Nuestros datos son los siguientes:<br /><br />

URCIPLAST, S.L. <br />
Ctra. Comarcal 332, Km. 1.2, 04400 - Alhama de Almería, España. <br />
C.I.F. nº: B-04220497 <br />
Inscrita en el Registro Mercantil de Almería en el Tomo 225-AL de Sociedades, Folio 178, Hoja 6455-AL, Inscripción 1ª. <br />
Dirección de correo electrónico: talleres.mazo@gmail.com <br />
Teléfono: 950 26 37 22<br /><br />
                        	Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la observancia y cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier otra disposición legal que fuera de aplicación. El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web y por la falta de disponibilidad (caídas) del sitio el cual efectuará además paradas periódicas por mantenimientos técnicos. Además, el prestador se reserva el derecho a modificar cualquier tipo de información que pudiera aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web del prestador.</p>
                        <br /><h5>Política de privacidad.</h5>
                        <p>Por medio de nuestra política de privacidad le ponemos al tanto de los debidos términos de uso en este sitio.</p>

<p>La utilización de estos implica su aceptación plena y sin reservas a todas y cada una de las disposiciones incluidas en este Aviso Legal, por lo que si usted no está de acuerdo con cualquiera de las condiciones aquí establecidas, no deberá usar u/o acceder a este sitio. Reservamos el derecho a modificar esta Declaración de Privacidad en cualquier momento. Su uso continuo de cualquier porción de este sitio tras la notificación o anuncio de tales modificaciones constituirá su aceptación de tales cambios.</p>
	<br /><h5>Acciones de terceros.</h5>
	<p>Así mismo, usted encontrará dentro de este sitio, páginas, micrositios, contratistas y/o socios y servicios comerciales, en conjunto con otros servicios compartidos, propios o cobrandeados con terceros (”Sitios Cobrandeados”) que le podrán solicitar Información, los cuales este sitio le podrá revelar información proporcionada por usted.<br />
La Información que se proporcione en estos Sitios Cobrandeados esta sujeta a las políticas de privacidad o leyendas de responsabilidad de Información que se desplieguen en dichos Sitios y no estará sujeta a esta política de privacidad. Por lo que recomendamos ampliamente a los Usuarios a revisar detalladamente las políticas de privacidad que se desplieguen en los Sitios Cobrandeados.</p>
				<br /><h5>Política de Protección de Datos Personales</h5>
				<p>Los datos enviados a nuestro correo electrónico, facilitados por usted, en caso de establecer una factura/presupuesto, serán incorporados en un fichero llamado "CLIENTES/PROVEEDORES" cuyo titular es URCIPLAST, S.L. y con la finalidad del tratamiento contable, comunicación con el cliente y acciones comerciales. Para ejercer su derecho de acceso, rectificación, cancelación u oposición, pueden dirigirse a URCIPLAST, S.L.; CRTA. RONDA 76, FRENTE AL MERCADONA, 04006 - ALMERÍA. Teléfono: 950263722, Fax: 950277382; E-mail: talleres.mazo@gmail.com</p>
				<br /><h5>Ley Aplicable y Jurisdicción</h5>
				<p>Para la resolución de todas las controversias o cuestiones relacionadas con el presente sitio web, será de aplicación la legislación española, a la que se someten expresamente ambas partes.</p>
				</div>
			</div>
        </section>

    </main>
</div>
</body>
</html>