<!DOCTYPE html>
<html lang="es-ES">
<head>
    <title>Colores y Foliados</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","active","","","","" %>
<% idioma "es" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <section class="well border" style="background-color: white;">
            <div class="container">
                <h3 class=" primary-color">Colores</h3>

                <div class="row">
                    <div class="grid_3 wow fadeInLeft">
                        <div class="resp-center"><img src="../assets/color-blanco.jpg" alt=""/></div>
                        <h5 class="strong">Blanco</h5>
                    </div>
                </div>
            </div>
        </section>
        <section class="well border" style="background-color: white;">
            <div class="container">
                <h3 class=" primary-color">Foliados</h3>

                <div class="row">
                    <div class="grid_3 wow fadeInLeft">
                        <div class="resp-center"><img src="../assets/color-roble-big.jpg" alt=""/></div>
                        <h5 class="strong">Roble oro</h5>
                        </div>
                    <div class="grid_3 wow fadeInLeft">
                        <div class="resp-center">
                            <img src="../assets/color-nogal-big.jpg" alt=""/>
                        </div>
                        <h5 class="strong">Nogal</h5>
                    </div>
                    <div class="grid_3 wow fadeInRight">
                        <div class="resp-center">
                            <img src="../assets/montana.jpg" alt=""/>
                        </div>
                        <h5 class="strong">Montana</h5>
                    </div>
                    <div class="grid_3 wow fadeInRight">
                        <div class="resp-center">
                            <img src="../assets/antracita.jpg" alt=""/>
                        </div>
                        <h5 class="strong">Antracita</h5>
                    </div>
                </div>
            </div>
        </section>
<section class="well border" style="background-color: white;">
            <div class="container">
                <h3 class=" primary-color">Lacados: Toda la gama de colores RAL</h3>

                <div class="row">
                    <a href="http://ralcolor.com/" target="_blank"><div class="grid_3 wow fadeInLeft">
                        <div class="resp-center"><img src="../assets/RAL.jpg" alt=""/></div>
                    </div></a>
                </div>
            </div>
        </section>

</div>
</body>
</html>