<!DOCTYPE html>
<html lang="es-ES">
<head>
    <title>Cristal Inteligente</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","","","active","","" %>
<% idioma "es" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well well__ins2 bg-primary">
            <div class="container">
                <h3 class="primary-color">Cristal inteligente</h3>

                <div class="row">
                    <div class="grid_4">
                        <img class="img-add" src="../assets/infografia-climalit-general.jpg" alt=""/></div>
                    <div class="grid_8">
                        <h5>Mayor confort térmico con SGG CLIMALIT PLUS: más protección contra el frío y el calor</h5><br />
                        <p>CLIMALIT PLUS® alcanza un nivel de aislamiento hasta 3 veces mayor que un doble
                        	 acristalamiento básico, consiguiendo mantener una óptima sensación térmica en invierno.
                        	  En verano, SGG CLIMALIT PLUS puede reducir a la mitad la entrada de energía solar directa,
                        	   respecto a un doble acristalamiento básico, ayudando a mantener una temperatura agradable 
                        	   en el interior de la estancia. Con SGG CLIMALIT PLUS podrá disfrutar de estancias más 
                        	   confortables.</p><br />
 <h5>Mayor ahorro con SGG CLIMALIT PLUS</h5><br />
                        <p>CLIMALIT PLUS permite reducir el gasto en calefacción y refrigeración, al perder menos calor por las ventanas en invierno y dejar que entre menos calor en verano.</p>
                         
                         <a class="btn1" href="http://www.climalit.es/climalit-plus-info/" target="_blank">Más información >></a>
					</div>
                </div>
            </div>
        </section>

    </main>
</div>
</body>
</html>