<!DOCTYPE html>
<html lang="es-ES">
<head>
    <title>Proveedores</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","","active","","","" %>
<% idioma "es" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
       
        <section class="well bg-primary">
            <div class="container">
                <h3 class="primary-color">Proveedores</h3>

                <div class="row">
                    <div class="grid_4  wow fadeInLeft">
                        <div class="resp-center">
                            <img class="img-add" src="../assets/KBE.jpg" alt=""/>
                        </div>
                        <p class="big">Ha pasado ya algún tiempo desde que, en 1980, KBE iniciara su andadura como fabricante de PVC.
En sus instalaciones europeas cuya sede está localizada en Berlín contamos actualmente con más de 60 líneas de extrusión trabajando a pleno rendimiento. Esta planta de producción se encuentra en los primeros puestos del mercado en cuanto a tecnología dentro del área de la transformación de plásticos.</p>
                        <a class="btn1" href="http://www.kbe-online.com/" target="_blank">Más información >></a></div>
                    <div class="grid_4  wow fadeInUp">
                        <div class="resp-center">
                            <img class="img-add " src="../assets/SIEGENIA.png" alt=""/>
                        </div>
                        <p class="big">El Grupo SIEGENIA ofrece una amplia gama de productos que confieren a ventanas y puertas un importante valor añadido. 
La oferta se completa con SIEGENIA-AUBI Security Service GmbH y su tecnología de herrajes para ventanas y puertas, que se ha posicionado con productos y servicios de protección antirrobo y reparación de la ventana.</p>
                        <a class="btn1" href="https://www.siegenia.com/es/" target="_blank">Más información >></a></div>
                    <div class="grid_4  wow fadeInRight">
                        <div class="resp-center">
                            <img class="img-add" src="../assets/PERSAX.jpeg" alt=""/>
                        </div>
                        <p class="big">PERSAX es una empresa líder en el sector de las persianas, el cerramiento y todos sus productos están certificados por la norma ISO9001, CTE y normativas exigidas por diferentes mercados.
<br/> Ponen a nuestra disposición una amplia gama de productos de protección solar.</p>
                        <a class="btn1" href="http://www.persax.es/" target="_blank">Más información >></a></div>
                </div>
            </div>
        </section>
       
    </main>
</div>
</body>
</html>