<!DOCTYPE html>
<html lang="es-ES">
<head>
    <title>Nuestros Productos</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
 <% activo "","active","","","","" %>
 <% idioma "es" %>
 <% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well well__ins2 bg-primary">
            <div class="container">
                <h3 class="primary-color">Nuestros productos</h3>

                <div class="row">
                    <div class="grid_4">
                        <img class="img-add" src="../assets/nuestrosProductos.PNG" alt=""/></div>
                    <div class="grid_8">
                        <h5>Fabricamos Puertas y Ventanas a la medida sin importar el tamaño o la forma que desees que estas tengan. También contamos con una amplia gama de colores, acabados y aperturas para cualquier necesidad.
                        	<br />
                        	Nuestros productos poseen un alto nivel de aislamiento térmico y acústico que ayuda a ahorrar energía y crear un ambiente de comodidad en el hogar, además nuestras puertas y ventanas son de alta seguridad y de muy bajo mantenimiento.
                        	</h5>
                        	<div class="row">
<div class="grid_4" style="width: 100%">
                                <ul class="marked-list offset2">
                                      <li><a >TIPOS DE APERTURA DISPONIBLES: Practicable, Oscilobatiente, Osciloparalela, Practicable de apertura exterior, Corredera, Plegable y Elevadora.</a></li>
                                    <li>ACABADOS: Blanco masa, <%=link_to es_colores_y_foliados_path do%><strong><u>FOLIADOS</u></strong> <%end%> y Lacado.</li>
                                <li><a >POSIBILIDAD DE MOTORIZACIÓN: SI.</a></li>
                                 
                                </ul>
                       
                            </div>
                            </div>
                        <%=link_to es_productos_path, :class => "btn1" do%>Más información >><%end%>
					</div>
                </div>
            </div>
        </section>

    </main>
    <section class="well bg-primary">
        <div class="container">
            <div class="row">
                <div class="grid_6 wow fadeInLeft">
                    <h3 class="primary-color">Beneficios</h3>
                    <ul class="index-list index-list1">
                        <li>
                            <div class="wrapper">
                                <h5 class="strong">Es resistente </h5>

                            </div>
                        </li>

                        <li>
                            <div class="wrapper">
                                <h5 class="strong">Es duradero</h5>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper">
                                <h5 class="strong">Es impermeable a gases y líquidos</h5>
                            </div>
                        </li>
                          <li>
                            <div class="wrapper">
                                <h5 class="strong">Es auto-extinguible</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="grid_6 wow fadeInLeft">
                    <h3 class="primary-color"></h3>
                    <ul class="index-list index-list2">
                          <li>
                            <div class="wrapper">
                                <h5 class="strong">Gran capacidad de aislamiento térmico y acústico</h5>
                            </div>
                        </li>
                          <li>
                            <div class="wrapper">
                                <h5 class="strong">Magníficos acabados superficiales</h5>
                            </div>
                        </li>
                           <li>
                            <div class="wrapper">
                                <h5 class="strong">Facilidad de mantenimiento</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>