<!DOCTYPE html>
<html lang="es-ES">
<head>
    <title>Nuestra Empresa</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","active","","","","" %>
<% idioma "es" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
    	<section class="well well__ins2 bg-primary">
            <div class="container">
                <h3 class="primary-color">Una empresa en continuo crecimiento.</h3>

                <div class="row">
                    
                    <div class="grid_8">
                        <h5>Talleres Mazo es una empresa fundada en 1941 como carpintería mecánica y ebanistería.<br /><br />
Tras más de 50 años en el sector, en 1994 decidimos ofrecer otro tipo de confort, ya no solo del cuerpo a traves de nuestros muebles hechos con las mejores maderas y por los mejores carpinteros, sino que pondríamos a mano del cliente el tipo de confort que proporciona serenidad y sosiego para toda la familia.<br /><br />

Silencio durante la noche, frescor en verano, calor en invierno, todo esto es posible gracias al gran aislamiento que proporciona el PVC de calidad junto con un acristalamiento de primera.<br /><br />

Nosotros fabricamos las ventanas y se las montamos en un mismo día. Todo con la garantía de una empresa que lleva dos generaciones ofreciendo la máxima calidad.<br /><br />

Nuestra fabrica situada en Alhama de Almería,
dispone de la maquinaria y los profesionales adecuados para que la fabricación sea un proceso minucioso y personalizado a las necesidades de cada hogar y cliente.<br /><br />

Disponemos de una exposición en Almería capital, situada en Carretera de Ronda Nº 76, frente al Mercadona, en la que están a su disposición más de cerca, una muestra de nuestras ventanas donde podrá comprobar insitu la alta calidad de las mismas.<br /><br />

Nuestra plantilla de profesionales lleva más de 20 años con nosotros y conocen cada situación posible a la hora de fabricar y montar nuestras ventanas , puertas y cerramientos, no dejando lugar a cabos sueltos en ninguno de los procesos y arreglando cualquier problema que surja sobre la marcha, siempre adaptándonos a sus necesidades.<br /><br />

Una empresa que durante dos generaciones ha ofrecido la máxima calidad al mejor precio, porque la satisfacción del cliente es nuestra razón de ser.<br />
Y no menos importante, comprometida con la conservación del medio ambiente, mediante el sistema de cogeneración del PVC.<br />
Siempre trabajando con unos materiales que cumplen de manera extricta la normativa de calidad alemana, país pionero en el desarrollo e investigación del PVC.<br /><br />

Así mismo hemos logrado implantar el sistema de calidad y medioambiental, de acuerdo con la norma UNE-EN ISO 9001- 14001-2004, todo para el mejor servicio hacia nuestros clientes.
Al igual que tenemos instaurado el marcado CE obligatorio para ventanas y puertas según la normativa 14351 en vigor desde el 1 de Febrero de 2010.
</h5>
                        	
					</div>
					
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>