<!DOCTYPE html>
<html lang="es-ES">
<head>
    <title>Productos</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
  <% activo "","","","active","","" %>
  <% idioma "es" %>
  <% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well border">
            <div class="container">
                <h3 class=" primary-color">Productos</h3>

                <div class="row">
                    <div class="grid_3 wow fadeInLeft">
                        <%=link_to es_ventanas_path do%><div class="resp-center"><img src="../assets/ventanaProductos.jpg" alt=""/></div>
                        <h5 class="strong">Ventanas</h5><%end%>

                    </div>
                    <div class="grid_3 wow fadeInLeft">
                       <%=link_to es_puertas_path do%> <div class="resp-center">
                            <img src="../assets/puerta.JPG" alt=""/>
                        </div>
                        <h5 class="strong">Puertas</h5><%end%>

                    </div>
                    <div class="grid_3 wow fadeInRight">
                       <%=link_to es_cerramientos_path do%> <div class="resp-center">
                            <img src="../assets/cerramientoProductos.JPG" alt=""/>
                        </div>
                        <h5 class="strong">Cerramientos</h5><%end%>

                    </div>
                    <div class="grid_3  wow fadeInRight">
                        <%=link_to es_cristalInteligente_path do%><div class="resp-center"><img src="../assets/imagenes-cabecera-climalit.png" alt=""/>
                        </div>
                        <h5 class="strong">Cristal inteligente</h5><%end%>

                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>