<%if !(@current_user["tipo"]=="Administrador" or @current_user["tipo"]=="Trabajos")%>
<script type="text/javascript">
 window.location.href = "<%=es_inicio_path%>" </script>
<%else%>
<h1>Editing Trabajo</h1>

<%= render 'form' %>

<%= link_to 'Show', @trabajo %> |
<%= link_to 'Back', trabajos_path %>
<%end%>
