<%if !(@current_user["tipo"]=="Administrador" or @current_user["tipo"]=="Trabajos")%>
<script type="text/javascript">
 window.location.href = "<%=es_inicio_path%>" </script>
<%else%>
<head>
		<title>Lista de Trabajos</title>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no"/>
		<% idioma "es" %>
		<% user @current_user %>
	</head>
<p id="notice"><%= notice %></p>
<br /><br /><br />
<h1>Lista de Trabajos</h1>
<br /><br /><br />
<style>
	body{
		background-color: white;
	}
	.tablaTraduciones {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tablaTraduciones table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tablaTraduciones tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tablaTraduciones table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tablaTraduciones table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tablaTraduciones tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tablaTraduciones tr:hover td{
	background-color:#ffffff;
		

}
.tablaTraduciones td{
	vertical-align:middle;
	
	background-color:#ffdbba;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:30px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tablaTraduciones tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tablaTraduciones tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tablaTraduciones tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tablaTraduciones tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tablaTraduciones tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);

	background-color:#ff7f00;
}
.tablaTraduciones tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tablaTraduciones tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
</style>
            <%= link_to new_trabajo_path do%>
            <h3>Nuevo Trabajo</h3>
            <%end%>

<div class="tablaTraduciones" >
                <table >
                    <tr>
                    	<td>
                            Id
                        </td>
                    	<td>
                            Trabajo
                        </td>
                        <td>
                            Foto
                        </td>
                        <td>
                            Eliminar
                        </td>
                    </tr>
<% @trabajos.each do |trabajo| %>
      <tr>
      	<td><%=trabajo.id%></td>
      	<td><%=trabajo.nombreTrabajo%></td>
        <td><img style="width: 250px; height: auto;" src="../uploads/<%= trabajo.foto %>" /></td>
        <td><%= link_to 'Destroy', delTrabajo_path(trabajo) %></td>
      </tr>
    <% end %>
                </table>
            </div>
            
<%end%>
