<%if !(@current_user["tipo"]=="Administrador" or @current_user["tipo"]=="Trabajos")%>
<script type="text/javascript">
 window.location.href = "<%=es_inicio_path%>" </script>
<%else%>
<head>
		<title>Lista de Trabajos</title>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no"/>
		<% idioma "es" %>
		<% user @current_user %>
	</head>
<br /><br /><br />
<h1>Nuevo Trabajo</h1>

<br /><br />

<%= form_for(@trabajo, html: {class: "dropzone"}) do |f| %>
  <% if @trabajo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trabajo.errors.count, "error") %> prohibited this trabajo from being saved:</h2>

      <ul>
      <% @trabajo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style>
	body{
		background-color: white;
	}
</style>
<%=f.label "Nombre del Trabajo(Es para agrupar las imagenes): "%><%=f.text_field :nombreTrabajo%><br />
  <div class="fallback">
    <input type="file" name="file" id="file"><br />
    <%= f.submit %>
 
  </div>
<% end %>
<script>
	new Dropzone("form");
</script>

<%= link_to 'Back', trabajos_path %>
<%end%>
