<%if !(@current_user["tipo"]=="Administrador" or @current_user["tipo"]=="Trabajos")%>
<script type="text/javascript">
 window.location.href = "<%=es_inicio_path%>" </script>
<%else%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Foto:</strong>
  <%= @trabajo.foto %>
</p>

<%= link_to 'Edit', edit_trabajo_path(@trabajo) %> |
<%= link_to 'Back', trabajos_path %>
<%end%>
