<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style>
		input[type="submit"]{
			width: 100%;
			height: 100%;
			font-size: 330%;
		}
	</style>
	<center>
	<div class="tablaTraduciones" style="width: 50%;">
                <table >
                    <tr>
                        <td colspan="2">
                            Crear / Editar Usuario
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            Username
                        </td>
                        <td >
                            <%= f.text_field :username %>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            Password
                        </td>
                        <td >
                            <%= f.password_field :password %>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            Tipo
                        </td>
                        <td >
                                         <%= f.select(:tipo, options_for_select(
            [['Administrador','Administrador'],
            ['Traductor','Traductor'],
            ['Blogger','Blogger'],
            ['Trabajos','Trabajos']] , @usuario.tipo)) %>
                        </td>
                    </tr>
                       <tr>
                    	
                        <td colspan="2" style="text-align: center;">
                           <div class="actions" style="margin: -30px -30px -30px -30px;">
    <%= f.submit "Crear/Actualizar Usuario"%>
  </div>
                        </td>
                    </tr>
                    <tr>
                    	
                        <td style="text-align: center;">
                            <%= link_to '=================SHOW=================', @usuario%>
                        </td>
                        <td style="text-align: center;">
                            <%= link_to '=================BACK=================', usuarios_path %>
                        </td>
                    </tr>
                </table>
            </div>
            </center>
<% end %>
