@charset "UTF-8";
/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 29.89583%; }

@media (max-width: 1003.48432px) {
  .camera_container {
    padding-bottom: 300px; } }
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0; }

.camera_wrap img {
  max-width: none !important; }

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%; }

.camera_src {
  display: none; }

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1; }

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none; }

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0; }

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0; }

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2; }

.camera_loader {
  background: #fff url(camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3; }

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4; }

.camerarelative {
  overflow: hidden;
  position: relative; }

.imgFake {
  cursor: pointer; }

.camera_command_wrap .hideNav {
  display: none; }

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4; }

.showIt {
  display: none; }

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative; }

.camera_caption {
  display: none; }

.cameraContent .camera_caption {
  display: block; }

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 10px;
  padding-right: 10px; }
  .camera_caption h2 {
    font-size: 72px;
    line-height: 80px;
    font-weight: 900;
    color: #fff; }
  .camera_caption > div {
    height: 100%; }

.camera_next, .camera_prev {
  position: absolute;
  height: 69px;
  width: 69px;
  text-align: center;
  background: rgba(255, 255, 255, 0.45);
  top: 50%;
  transform: translateY(-50%);
  font: 400 65px/69px "FontAwesome";
  cursor: pointer;
  color: #6b7277;
  z-index: 10;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }
  .lt-ie9 .camera_next, .lt-ie9 .camera_prev {
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#73FFFFFF', endColorstr='#73FFFFFF')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73FFFFFF', endColorstr='#73FFFFFF');
    zoom: 1; }

.camera_next:hover, .camera_prev:hover {
  background: none;
  color: #ef4023;
  background: rgba(45, 58, 65, 0.45);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .lt-ie9 .camera_next:hover, .lt-ie9 .camera_prev:hover {
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#732D3A41', endColorstr='#732D3A41')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#732D3A41', endColorstr='#732D3A41');
    zoom: 1; }

.camera_prev {
  left: 30px; }
  .camera_prev:before {
    content: ""; }

.camera_next {
  right: 30px; }
  .camera_next:before {
    content: ""; }

@media (max-width: 1350px) {
  .camera_caption h2 {
    font-size: 50px;
    line-height: 55px; } }
@media (min-width: 768px) and (max-width: 979px) {
  .camera_caption h2 {
    font-size: 50px; }

  .camera_next, .camera_prev {
    height: 40px;
    width: 40px;
    font-size: 35px;
    line-height: 40px; } }
@media (max-width: 767px) {
  .camera_next, .camera_prev {
    height: 40px;
    width: 40px;
    font-size: 35px;
    line-height: 40px; }

  .camera_caption {
    left: 0;
    right: 0;
    text-align: center; }
    .camera_caption h2 {
      font-size: 30px;
      line-height: 35px; } }
@media (max-width: 479px) {
  .camera_next, .camera_prev {
    display: none; } }

/*# sourceMappingURL=camera.css.map */
