@charset "UTF-8";
.search-form {
  display: block;
  position: absolute;
  right: 20px;
  top: 190px;
  width: 300px;
  z-index: 999; }
  .search-form:before, .search-form:after {
    display: table;
    content: "";
    line-height: 0; }
  .search-form:after {
    clear: both; }
  .search-form_label {
    display: block;
    padding: 17px 40px 17px 10px;
    background: #fff;
    border: 2px solid #0e76bc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: url("primary-bg.jpg") repeat; }
  .search-form_input {
    outline: none;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: baseline;
    box-shadow: none;
    color: #2d3a41;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    font-style: italic; }
  .search-form_submit {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    position: absolute;
    top: 16px;
    right: 5px;
    width: 25px;
    height: 22px;
    color: #0e76bc;
    font: 400 18px/22px 'FontAwesome', sans-serif; }
    .search-form_submit::-moz-focus-inner {
      border: none;
      padding: 0; }
    .search-form_submit:before {
      content: ""; }
    .search-form_submit:hover {
      color: #ef4023; }
  @media (max-width: 1199px) {
    .search-form {
      top: 230px; } }
  @media (max-width: 479px) {
    .search-form {
      width: 270px; } }

.search-form_toggle {
  margin: 38px 17px 0 15px;
  float: right;
  display: inline-block;
  color: #fff;
  font: 400 20px/43px "FontAwesome";
  height: 43px;
  width: 43px;
  background: #00aeef;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .search-form_toggle:before {
    content: ""; }
  .search-form_toggle.active, .search-form_toggle:hover {
    background: #ef4023; }
  .search-form_toggle.active:before {
    content: ""; }

.search-form {
  display: none; }

.search-form.on {
  display: block; }

@media (max-width: 1500px) {
  .search-form_toggle {
    margin-top: 42px; } }
@media (min-width: 980px) and (max-width: 1199px) {
  .search-form_toggle {
    margin-top: 100px; } }
@media (min-width: 768px) and (max-width: 979px) {
  .search-form_toggle {
    margin-top: 98px; } }
@media (max-width: 767px) {
  .search-form {
    display: inline-block;
    position: relative;
    right: 0;
    top: 0;
    padding-bottom: 15px; }

  .search-form_toggle {
    display: none; } }
.search-form_liveout {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .lt-ie9 .search-form_liveout {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  .search-form_liveout .search_list {
    font-size: 14px;
    line-height: 24px;
    background: #FFF;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); }
    .search-form_liveout .search_list li + li {
      margin-top: 2px; }
  .search-form_liveout .search_link {
    display: block;
    padding: 5px 10px;
    background: #FFF;
    color: #999; }
    .search-form_liveout .search_link .search_title {
      font-size: 15px;
      color: #ef4023;
      text-transform: uppercase; }
    .search-form_liveout .search_link:hover {
      background: #ef4023;
      color: #fde5e1; }
      .search-form_liveout .search_link:hover .search_title {
        color: #FFF; }
  .search-form_liveout .search_error {
    display: block;
    color: #ef4023;
    background: #fafafa;
    padding: 10px 10px;
    overflow: hidden; }
  .search-form_liveout .match {
    display: none; }
  .search-form_liveout button {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    color: #ef4023;
    background: #fafafa;
    padding: 10px 10px; }
    .search-form_liveout button::-moz-focus-inner {
      border: none;
      padding: 0; }
    .search-form_liveout button:hover {
      background: #ef4023;
      color: #FFF; }
  input:focus + .search-form_liveout {
    opacity: 1; }
    .lt-ie9 input:focus + .search-form_liveout {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
      filter: alpha(opacity=100); }
  .search-form_liveout .tablet, .mobile .search-form_liveout {
    display: none !important; }

.search-frame {
  overflow: hidden; }
  .search-frame, .search-frame body {
    width: 100%;
    height: auto;
    background: transparent; }
  .search-frame, .search-frame body, .search-frame h1, .search-frame h2, .search-frame h3, .search-frame h4, .search-frame h5, .search-frame h6, .search-frame p, .search-frame em {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: top; }
  .search-frame img {
    max-width: 100%;
    height: auto; }
  .search-frame a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .search-frame a:active {
      background: transparent; }
    .search-frame a:focus {
      outline: none; }
  .search-frame h4 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 300;
    color: #0e76bc; }
    .search-frame h4 a:hover {
      color: #ef4023; }
    .search-frame h4 a:active {
      color: #d02b0f; }
  .search-frame .search_list {
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
    list-style-type: none;
    padding: 40px 0 0 40px; }
    .search-frame .search_list li {
      padding-left: 50px;
      position: relative; }
      .search-frame .search_list li h4 a:before {
        font: 400 24px/33px "FontAwesome";
        content: "";
        color: #0e76bc;
        position: absolute;
        left: 0;
        top: 3px;
        -moz-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
        transition: 0.3s ease all; }
      .search-frame .search_list li h4 a:hover:before {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        color: #ef4023;
        left: 15px; }
    .search-frame .search_list + li {
      margin-top: 20px; }
  .search-frame .search {
    color: #ef4023; }
  .search-frame .match {
    color: #719a3f;
    font-size: 11px;
    display: block; }
  .search-frame * + p {
    margin-top: 16px; }

.stuck_container.isStuck .search-form {
  display: none; }

.search-form.on.fixed {
  position: fixed;
  top: 90px; }

/*# sourceMappingURL=search.css.map */
