﻿@charset "UTF-8";
@import url(animate.css);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300|Roboto:400,500,300,300italic,900,900italic,700|Cutive);
/*========================================================
                      Main Styles
=========================================================*/

body {
  background: #d1d2d4;
  color: #2d3a41;
  font: 300 14px/27px "Roboto", sans-serif;
  -webkit-text-size-adjust: none; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, .terms-list dt, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

h1 {
  font-size: 44px;
  line-height: 24px;
  font-family: "Cutive", serif; }

h2 {
  font-size: 48px;
  line-height: 52px; }

h3 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 300; }

h4 {
  font-size: 21px;
  line-height: 42px;
  font-weight: 700; }

h5, .terms-list dt {
  font-size: 18px;
  line-height: 27px; }

h6 {
  font-size: 15px;
  line-height: 17px; }

p a:hover, .terms-list dd a:hover, .marked-list a:hover, .list a:hover {
  text-decoration: underline; }
p .fa, .terms-list dd .fa, .marked-list .fa, .list .fa {
  text-decoration: none; }

time {
  display: block; }

blockquote {
  text-align: center;
  padding: 0 180px; }
  blockquote q {
    font-size: 30px;
    line-height: 39px;
    font-weight: 300; }
  blockquote * + h4 {
    margin-top: 25px; }
  blockquote * + .btn3 {
    margin-top: 64px; }
  blockquote * + p, blockquote .terms-list * + dd, .terms-list blockquote * + dd {
    margin-top: 23px; }

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  a:focus {
    outline: none; }
  a:active {
    background-color: transparent; }

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none; }

strong {
  font-weight: 700; }

.fa {
  line-height: inherit; }

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome"; }

.page {
  overflow: hidden;
  min-height: 500px; }
  .lt-ie9 .page {
    min-width: 1200px; }

.strong {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 23px; }

.big {
  font-size: 16px; }

.primary-color {
  color: #ef4023; }

.center {
  text-align: center; }

@media (max-width: 767px) {
  .resp-center {
    text-align: center; } }

.img-add {
  margin-top: 8px; }

.offset2 {
  margin-top: 15px; }

@media (max-width: 767px) {
  blockquote {
    padding: 0; } }
/*=======================================================
                       Main Layout
=========================================================*/
.box + a {
  margin-top: 30px; }

* + .big {
  margin-top: 5px; }

a + .big {
  margin-top: 29px; }

* + .btn1 {
  margin-top: 35px; }

* + .marked-list,
h3 + p,
.terms-list h3 + dd {
  margin-top: 27px; }

* + .button-wrap {
  margin-top: 65px; }

h3 + .row {
  margin-top: 31px; }

h3 + .offset {
  margin-top: 35px; }

.row + .row {
  margin-top: 41px; }

.row + .offset {
  margin-top: 30px; }

.contact-list + .row {
  margin-top: 65px; }

* + .index-list {
  margin-top: 36px; }

h3 + .container {
  margin-top: 35px; }

h5 + p, .terms-list dt + p, .terms-list h5 + dd, .terms-list dt + dd {
  margin-top: 4px; }

h5 + .marked-list, .terms-list dt + .marked-list {
  margin-top: 17px; }

.box + .big {
  margin-top: 24px; }

.resp-center + .big {
  margin-top: 27px; }

img + h5, .terms-list img + dt,
.resp-center + h5,
.terms-list .resp-center + dt {
  margin-top: 28px; }

* + .terms-list {
  margin-top: 30px; }

/*=======================================================
                        Components
=========================================================*/
/*================= Header Wrapper =====================*/
.header-wrapper {
  height: 48px;
  background: #737477;
  display: block; }
  .header-wrapper .inline-list {
    margin-left: 37px;
    padding-top: 13px;
    display: inline-block; }
    .header-wrapper .inline-list li a {
      height: 24px;
      width: 24px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #a2a3a5;
      color: #fff;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      display: block;
      text-align: center;
      line-height: 24px; }
      .header-wrapper .inline-list li a:hover {
        background: #ef4023; }
      .header-wrapper .inline-list li a:active {
        background: #d02b0f; }
    .header-wrapper .inline-list li + li {
      margin-left: 6px; }
  .header-wrapper .info-list {
    margin-right: 33px;
    padding-top: 13px; }
    .header-wrapper .info-list li {
      color: #c1c2c3; }
      .header-wrapper .info-list li:first-child:before {
        font-size: 26px; }
      .header-wrapper .info-list li:before {
        color: #dededf;
        font-size: 18px;
        line-height: 24px; }
      .header-wrapper .info-list li * {
        font: 700 11px/24px "Roboto", sans-serif;
        display: inline-block;
        margin-left: 7px; }
      .header-wrapper .info-list li a:hover {
        color: #ef4023; }
      .header-wrapper .info-list li a:active {
        color: #d02b0f; }
      .header-wrapper .info-list li + li {
        margin-left: 27px; }

@media (min-width: 768px) and (max-width: 979px) {
	.sliderVentana{
		  margin-left: -20px;
		    height: 160px;
	}
  .header-wrapper .info-list {
    margin-right: 10px; }
    .header-wrapper .info-list li * {
      margin-left: 3px; }
    .header-wrapper .info-list li + li {
      margin-left: 7px; } }
@media (max-width: 767px) {
		.img-add1{
		left: -50px;
	}
  .header-wrapper {
    height: 120px; }
    .header-wrapper .info-list {
      margin-right: 0; }
    .header-wrapper .inline-list {
      margin-left: 0; } }
@media (max-width: 479px) {
	.img-add1{
		left: -50px;
	}
  .header-wrapper {
    height: 140px; }
    .header-wrapper .info-list {
      padding-top: 10px; }
      .header-wrapper .info-list li + li {
        margin-left: 0; } }
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 27px;
  margin-left: 32px; }
  .brand_name {
    position: relative;
    float: left;
    color: #ef4023; }
    .brand_name:before {
      content: ' ';
      position: absolute;
      height: 1px;
      width: 30%;
      left: -37px;
      top: 10px;
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      background: #737477; }
  .brand_slogan {
    padding-top: 3px;
    font: 500 12px/24px "Roboto", sans-serif;
    color: #2d3a41;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: right; }
  .brand_img {
    padding-top: 10px;
    float: left; }
    .brand_img + .brand_name {
      margin-top: 25px;
      margin-left: 16px; }

@media (min-width: 980px) and (max-width: 1199px) {
  .brand {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0; } }
@media (min-width: 768px) and (max-width: 979px) {
  .brand {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0; } }
@media (max-width: 767px) {
  .brand {
    margin-left: 0; } }
/*================== Address List ======================*/
.address-list address {
  font: 900 18px/19px "Roboto", sans-serif;
  color: #2d3a41;
  text-transform: uppercase; }
.address-list li dl {
  font: 300 16px/27px "Roboto", sans-serif; }
  .address-list li dl a:hover {
    color: #ef4023; }
  .address-list li dl a:active {
    color: #d02b0f; }
  .address-list li dl a[href^="mailto:"]:hover {
    color: #2d3a41;
    text-decoration: underline; }
.address-list li dt {
  float: left; }
.address-list li dd {
  float: right; }
.address-list li dl + dl {
  clear: both; }
  .address-list li dl + dl dd, .address-list li dl + dl dt {
    display: inline-block;
    float: none; }
.address-list li dt + dd {
  margin-top: 0; }
.address-list li dd + dt {
  clear: both;
  margin-top: 0; }
.address-list address + dl {
  margin-top: 9px; }

@media (min-width: 768px) and (max-width: 979px) {
  .address-list li dl {
    font-size: 13px; } }
/*==================  Terms List  ======================*/
.terms-list dd + dt {
  margin-top: 24px; }

/*==================  Marked List  ======================*/
.marked-list li {
  position: relative;
  padding: 0 0 5px 25px;
  border-bottom: 1px solid #d5d6d8; }
  .marked-list li a:before {
    content: '\f18e';
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 17px;
    font-family: "FontAwesome";
    color: #2d3a41;
    -moz-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all; }
  .marked-list li a:hover {
    color: #ef4023;
    text-decoration: none; }
  .marked-list li a:hover:before {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #ef4023; }
  .marked-list li + li {
    margin-top: 3px; }

/*==================  Backgrounds  ======================*/
.bg-primary {
  background: #fff url("primary-bg.jpg") repeat; }

.bg-secondary {
  background: #00aeef;
  color: #fff; }
  .bg-secondary .btn1 {
    color: #fff; }
  .bg-secondary .marked-list li {
    border-bottom: 1px solid #51c8f4; }
    .bg-secondary .marked-list li a:before {
      color: #fff; }
    .bg-secondary .marked-list li a:hover:before {
      color: #ef4023; }

/*==================     Icons     ======================*/
/*==================    Buttons    ======================*/
.btn1 {
  font: 300 18px/27px "Roboto", sans-serif;
  color: #0e76bc;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  display: inline-block; }
  .btn1:hover {
    text-decoration: underline; }
  .btn1:active {
    color: #0a588d; }

.btn2, .btn3 {
  font: 400 16px/31px "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  padding: 22px 26px 17px 25px;
  background: #ef4023;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .btn2:hover, .btn3:hover {
    background: #0e76bc; }
  .btn2:active, .btn3:active {
    background: #1294eb; }

.btn3 {
  background: none;
  border: 1px solid #fff;
  padding: 19px 52px 17px 38px;
  -moz-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all; }
  .btn3:hover {
    -webkit-box-shadow: inset -1px 0px 39px #0e76bc;
    -moz-box-shadow: inset -1px 0px 39px #0e76bc;
    box-shadow: inset -1px 0px 39px #0e76bc; }

/*================= Custom Wrapper =====================*/
.custom-wrapper {
  position: relative; }
  .custom-wrapper * + .button-wrap {
    margin-top: 0; }
  .custom-wrapper .custom-box {
    padding-top: 60px;
    padding-bottom: 63px;
    /*background: url("page-1_img07.png") left top no-repeat;*/
    width: 69%; }
    .custom-wrapper .custom-box p, .custom-wrapper .custom-box .terms-list dd, .terms-list .custom-wrapper .custom-box dd {
      line-height: 21px; }
    .custom-wrapper .custom-box h2 span {
      font-size: 34px;
      line-height: 31px;
      font-weight: 300; }
    .custom-wrapper .custom-box h2 + p, .custom-wrapper .custom-box .terms-list h2 + dd, .terms-list .custom-wrapper .custom-box h2 + dd {
      margin-top: 11px; }
  .custom-wrapper .button-wrap {
    float: none;
    position: absolute;
    right: 0;
    top: 40%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .custom-wrapper .button-wrap:before {
      content: ' ';
      position: absolute;
      left: -130px;
      top: 57%;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      height: 1px;
      width: 157px;
      background: #bdbec1; }
    .custom-wrapper .button-wrap .btn2, .custom-wrapper .button-wrap .btn3 {
      background: #719a3f; }
      .custom-wrapper .button-wrap .btn2__color_mod {
        background: #00aeef; }
      .custom-wrapper .button-wrap .btn2:hover, .custom-wrapper .button-wrap .btn3:hover {
        background: #ef4023; }
      .custom-wrapper .button-wrap .btn2:active, .custom-wrapper .button-wrap .btn3:active {
        background: #f26953; }
      .custom-wrapper .button-wrap .btn2 + .btn2, .custom-wrapper .button-wrap .btn3 + .btn2, .custom-wrapper .button-wrap .btn2 + .btn3, .custom-wrapper .button-wrap .btn3 + .btn3 {
        margin-left: 4px; }

@media (max-width: 1200px) {
  .custom-wrapper .custom-box {
    width: 100%; }
  .custom-wrapper .button-wrap {
    padding-bottom: 20px;
    text-align: center;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
    position: static;
    float: none; }
    .custom-wrapper .button-wrap:before {
      width: 0;
      height: 0; } }
@media (max-width: 479px) {
  .custom-wrapper .button-wrap {
    padding-bottom: 20px;
    text-align: center;
    display: block;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 100%; }
    .custom-wrapper .button-wrap .btn2 + .btn2, .custom-wrapper .button-wrap .btn3 + .btn2, .custom-wrapper .button-wrap .btn2 + .btn3, .custom-wrapper .button-wrap .btn3 + .btn3 {
      margin-left: 0;
      margin-top: 10px; } }
/*================       box2       ====================*/
.box2_cnt {
  padding: 31px 25px 33px 21px;
  background: #fff;
  border: 1px solid #bfc0c3;
  border-top: none; }
  .box2_cnt h5 a:hover, .box2_cnt .terms-list dt a:hover, .terms-list .box2_cnt dt a:hover {
    color: #ef4023; }
  .box2_cnt h5 a:active, .box2_cnt .terms-list dt a:active, .terms-list .box2_cnt dt a:active {
    color: #d02b0f; }
  .box2_cnt * + .big {
    margin-top: 8px; }

/*==================     Border    ======================*/
.border {
  border-bottom: 1px solid #bfc0c3;
  border-top: 1px solid #bfc0c3; }

.border-top {
  border-top: 1px solid #bfc0c3; }

.border-bot {
  border-bottom: 1px solid #bfc0c3; }

/*==================      Box      ======================*/
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0; }
.box:after {
  clear: both; }
.box_aside {
  float: left; }
.box_cnt {
  padding: 20px 0 0 15px; }
.box_cnt2 {
  padding: 15px 0 0 23px; }
.box_cnt__no-flow {
  overflow: hidden; }

/*================= Button Wrapper ======================*/
.button-wrap {
  float: right; }
  .button-wrap .btn2__color_mod {
    background: #719a3f; }
    .button-wrap .btn2__color_mod:hover {
      background: #0e76bc; }
    .button-wrap .btn2__color_mod:active {
      background: #1294eb; }
  .button-wrap .btn2 + .btn2, .button-wrap .btn3 + .btn2, .button-wrap .btn2 + .btn3, .button-wrap .btn3 + .btn3 {
    margin-left: 11px; }

@media (max-width: 479px) {
  .button-wrap {
    float: none;
    text-align: center; }
    .button-wrap .btn2 + .btn2, .button-wrap .btn3 + .btn2, .button-wrap .btn2 + .btn3, .button-wrap .btn3 + .btn3 {
      margin-left: 0;
      margin-top: 10px; } }
/*==================   Index List  ======================*/
.index-list1 {
  counter-reset: li; }
 .index-list2 {
  counter-reset: li 4; } 
  .index-list li {
    position: relative; }
    .index-list li .wrapper {
      padding-left: 88px; }
      .index-list li .wrapper .strong {
        line-height: 15px; }
        .index-list li .wrapper .strong + .big {
          margin-top: 10px; }
    .index-list li:before {
      position: absolute;
      content: counter(li,decimal) ".";
      counter-increment: li;
      font: 300 30px/53px "Roboto", sans-serif;
      text-align: center;
      height: 53px;
      width: 53px;
      background: #ef4023;
      color: #fff; }
    .index-list li:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9.5px 0 9.5px 10px;
      border-color: transparent transparent transparent #ef4023;
      top: 12px;
      left: 53px; }
    .index-list li + li {
      margin-top: 43px; }
  .index-list li.grid_1:nth-child(12n + 13),
  .index-list li.grid_2:nth-child(6n + 7),
  .index-list li.grid_3:nth-child(4n + 5),
  .index-list li.grid_4:nth-child(3n + 4),
  .index-list li.grid_6:nth-child(2n + 3) {
    clear: left; }

/*==================  Inline List  ======================*/
.inline-list:before,
.inline-list:after {
  content: ' ';
  display: table; }

.inline-list:after {
  clear: both; }

.inline-list li {
  float: left; }

.inline-list li + li {
  margin-left: 10px; }

/*================== Contact List ======================*/
.contact-list {
  text-align: center; }
  .contact-list .fa {
    display: block;
    color: #2d3a41;
    opacity: 0.5; }
    .lt-ie9 .contact-list .fa {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
      filter: alpha(opacity=50); }
    .contact-list .fa + * {
      margin-top: 20px; }
  .contact-list .fa-envelope {
    font-size: 66px;
    line-height: 80px; }
  .contact-list .fa-mobile {
    font-size: 117px;
    line-height: 80px; }
  .contact-list .fa-map-marker {
    font-size: 89px;
    line-height: 80px; }
  .contact-list a, .contact-list address {
    font-size: 18px;
    line-height: 27px;
    display: inline-block;
    font-weight: 400; }
  .contact-list a:hover {
    color: #ef4023; }
  .contact-list a:active {
    color: #d02b0f; }

/*========================   Menu   ==========================*/
.sf-menu {
  padding-top: 29px;
  padding-bottom: 26px;
  display: inline-block;
  font: 400 16px/31px "Roboto", sans-serif;
  text-transform: uppercase;
  word-spacing: -0.4px; }
  .sf-menu:before, .sf-menu:after {
    display: table;
    content: "";
    line-height: 0; }
  .sf-menu:after {
    clear: both; }
  .sf-menu > li {
    position: relative;
    float: left; }
    .sf-menu > li + li {
      margin-left: 1px; }
  .sf-menu a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 19px 26px;
    display: block; }

@media (max-width: 1500px) {
  .sf-menu a {
    padding: 19px 10px; } }
@media (min-width: 980px) and (max-width: 1199px) {
  .sf-menu {
    padding-top: 0;
    padding-bottom: 10px;
    display: inline-block; }
    .sf-menu a {
      padding: 19px 19px; } }
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu {
    padding-top: 0;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 12px; }
    .sf-menu a {
      padding: 19px 17px; } }
.sf-menu > li > a {
  color: #5c5c5f; }
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #fff;
  background: #ef4023; }
.sf-menu > li.active > a {
  color: #fff;
  background: #ef4023; }

.sf-menu ul {
  text-align: left;
  font: 300 14px/37px "Lato", sans-serif;
  text-transform: none;
  display: none;
  position: absolute;
  top: 111%;
  width: 235px;
  background: #323232;
  z-index: 2;
  padding: 20px 0;
  margin-top: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-width: 1199px) {
  .sf-menu ul {
    top: 88%; } }
.sf-menu ul > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0 0 0 5px;
  color: #FFF;
  background: #323232; }
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #FFF;
  background: #00aeef; }

.sf-menu ul ul {
  position: absolute;
  top: 15%;
  right: -100px;
  background: #00aeef;
  color: #323232;
  width: 100px;
  margin-top: 0;
  padding: 0;
  z-index: 4; }

@media (max-width: 979px) {
  .sf-menu ul ul {
      top: 15%; } }
.sf-menu ul ul > li > a {
  background: #00aeef;
  color: #fff; }
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #FFF;
  background: #323232; }

.sf-menu > li > ul > li > .sf-with-ul {
  position: relative; }
  .sf-menu > li > ul > li > .sf-with-ul:before {
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -14px;
    content: "";
    font: 400 14px/30px "FontAwesome"; }

@media (max-width: 1125px) {
  .sf-menu {
    display: none; } }
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .rd-mobilemenu.active {
    right: 0; }

.rd-mobilemenu_ul {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 240px;
  padding: 20px 0;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1); }
  .rd-mobilemenu.active .rd-mobilemenu_ul {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .rd-mobilemenu_ul a {
    display: block;
    padding: 9px 25px 11px; }
    .rd-mobilemenu_ul a:hover {
      background: #ef4023;
      color: #FFF; }
  .rd-mobilemenu_ul ul a {
    padding-left: 40px; }
  .rd-mobilemenu_ul ul ul a {
    padding-left: 60px; }
  .rd-mobilemenu_ul:after {
    content: '';
    display: block;
    height: 20px; }

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991; }

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rd-mobilepanel_toggle {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px; }
  .rd-mobilepanel_toggle::-moz-focus-inner {
    border: none;
    padding: 0; }
  .rd-mobilepanel_toggle span {
    position: relative;
    display: block;
    margin: auto;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
      content: "";
      position: absolute;
      left: 0;
      top: -8px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .rd-mobilepanel_toggle span:after {
      top: 8px; }
    .rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
      width: 24px;
      height: 4px;
      background-color: #000;
      backface-visibility: hidden;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform; }
  .rd-mobilepanel_toggle.active span {
    transition: background .3s 0s ease;
    background: transparent; }
    .rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
      top: 0;
      -webkit-transition-delay: 0s, 0.3s;
      transition-delay: 0s, 0.3s; }
    .rd-mobilepanel_toggle.active span:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .rd-mobilepanel_toggle.active span:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media (max-width: 1125px) {
  body {
    padding-top: 56px; }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block; } }
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px; } }
/*==================  Stuck menu  ======================*/
.stuck_container:before, .stuck_container:after {
  display: table;
  content: "";
  line-height: 0; }
.stuck_container:after {
  clear: both; }

.isStuck {
  display: block;
  background: #444;
  z-index: 999;
  background: #fff;
  border: 1px solid #bfc0c3; }
  .isStuck .brand {
    padding-bottom: 0;
    padding-top: 0; }
    .isStuck .brand_name {
      margin-top: 23px; }
      .isStuck .brand_name:before {
        top: 12px; }
    .isStuck .brand_img {
      padding-top: 7px; }
  .isStuck .search-form_toggle {
    margin-top: 15px; }
  .isStuck .sf-menu {
    padding-top: 1px;
    padding-bottom: 0; }
    .isStuck .sf-menu ul {
      top: 81%; }
      .isStuck .sf-menu ul ul {
          top: 15%; }

@media (min-width: 980px) and (max-width: 1199px) {
  .isStuck .sf-menu ul {
    top: 73%; }
  .isStuck .brand {
    display: none; } }
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important; } }
/*==================     ToTop     ======================*/
.toTop {
  font-size: 37px;
  line-height: 37px;
  position: fixed;
  right: 17px;
  bottom: 531px;
  display: none;
  overflow: hidden;
  z-index: 20; }
  .toTop:before {
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    content: "";
    color: #4e6571; }
  .toTop:hover:before {
    color: #ef4023; }

@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important; } }
/*==================   Thumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden; }
  .thumb img {
    width: 100%;
    height: auto;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease; }
  .thumb_overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #fff;
    background: transparent; }
    .thumb_overlay:before {
      content: "";
      position: absolute;
      top: 48%;
      left: 4px;
      right: 0;
      font: 400 51px "FontAwesome";
      line-height: 110px;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
      height: 103px;
      width: 103px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #fff;
      background: rgba(255, 255, 255, 0.43);
      margin-left: auto;
      margin-right: auto; }
      .lt-ie9 .thumb_overlay:before {
        background: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6EFFFFFF', endColorstr='#6EFFFFFF')";
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6EFFFFFF', endColorstr='#6EFFFFFF');
        zoom: 1; }
      .lt-ie9 .thumb_overlay:before {
        display: none; }
  .thumb:hover .thumb_overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4); }
    .lt-ie9 .thumb:hover .thumb_overlay {
      background: none;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#66000000')";
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#66000000');
      zoom: 1; }
    .lt-ie9 .thumb:hover .thumb_overlay:before {
      display: block; }
  .thumb:hover img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: #fff; }
  header:before, header:after {
    display: table;
    content: "";
    line-height: 0; }
  header:after {
    clear: both; }
  header .inline-list {
    float: left; }
  header .info-list {
    float: right; }
  header .brand {
    float: left; }
    header .brand + .search-form_toggle {
      margin-left: 79px; }
  header .nav {
    float: right; }
  @media (max-width: 767px) {
    header {
      text-align: center; }
      header .brand, header .nav {
        float: none; } }

@media (max-width: 1500px) {
  header .brand + .search-form_toggle {
    margin-left: 0; } }
@media (min-width: 980px) and (max-width: 1199px) {
  header {
    text-align: center; }
    header .nav {
      float: none; }
    header .brand {
      float: none; } }
@media (min-width: 768px) and (max-width: 979px) {
  header {
    text-align: center; }
    header .nav {
      float: none; }
    header .brand {
      float: none; } }
@media (max-width: 767px) {
  header .brand {
    float: none; }
  header .inline-list {
    float: none; }
  header .info-list {
    float: none; } }
/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #fff; }

/*==================      Well     ======================*/
.well {
  padding-top: 84px;
  padding-bottom: 87px; }

.well2 {
  padding-top: 97px;
  padding-bottom: 134px; }

.well__ins1 {
  padding-top: 89px; }

.well__ins2 {
  padding-top: 35px; }

.well__ins3 {
  padding-bottom: 134px; }

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  padding-top: 103px;
  padding-bottom: 62px;
  font: 300 16px/16px "Roboto", sans-serif;
  text-transform: uppercase;
  background: #d1d2d4; }
  footer a {
    text-transform: none; }
    footer a:hover {
      color: #ef4023; }
    footer a:active {
      color: #f26953; }
  footer .inline-list {
    display: inline-block; }
    footer .inline-list li a {
      font-size: 47px;
      line-height: 88px;
      text-align: center;
      height: 88px;
      width: 88px;
      background: #fff;
      color: #bcbdc0;
      border: 1px solid #d1d2d4;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: 0.7s ease all;
      -o-transition: 0.7s ease all;
      -webkit-transition: 0.7s ease all;
      transition: 0.7s ease all; }
      footer .inline-list li a:hover {
        background: none;
        color: #2d3a41;
        border: 1px solid #2d3a41; }
      footer .inline-list li a:active {
        color: #8ba2af;
        border: 1px solid #8ba2af; }
    footer .inline-list li + li {
      margin-left: 72px; }
  footer hr {
    width: 100%;
    border-top: 1px solid #2d3a41;
    border-bottom: none;
    display: inline-block; }
  footer * + hr {
    margin-top: 60px; }
  footer * + .copyright {
    margin-top: 51px; }

@media (max-width: 479px) {
  footer .inline-list li a {
    line-height: 68px;
    text-align: center;
    height: 68px;
    width: 68px; }
  footer .inline-list li + li {
    margin-left: 22px; } }

/*# sourceMappingURL=style.css.map */
