<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=@traducciones.find(34).ingles%></title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
<% activo "","active","","","","" %>
<% idioma "en" %>
<% user @current_user %>
</head>
<body>
<div class="page">
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
    	<section class="well well__ins2 bg-primary">
            <div class="container">
                <h3 class="primary-color"><%=@traducciones.find(23).ingles%></h3>

                <div class="row">
                    
                    <div class="grid_8">
                        <h5><%=@traducciones.find(24).ingles%><br /><br />
<%=@traducciones.find(25).ingles%><br /> <%=@traducciones.find(26).ingles%><br /><br />

<%=@traducciones.find(27).ingles%><br /><br />

<%=@traducciones.find(28).ingles%><br /><br />

<%=@traducciones.find(15).ingles%><br /><br />

<%=@traducciones.find(13).ingles%><br /><br />

<%=@traducciones.find(29).ingles%><br /><br />

<%=@traducciones.find(30).ingles%><br />
<%=@traducciones.find(31).ingles%><br />
<%=@traducciones.find(32).ingles%><br /><br />

<%=@traducciones.find(33).ingles%>
</h5>
                        	
					</div>
					
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>