<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Trabajos</title>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no"/>
		<% activo "","","","","active","" %>
		<% idioma "en" %>
		<% user @current_user %>
	</head>
	<body>
		<div class="page">
			<!--========================================================
			CONTENT
			=========================================================-->
			<section class="well border" style="background-color: white;">
				<div class="container">
					<script>
						jssor_slider1_starter = function(containerId) {
							var _SlideshowTransitions = [
							//Zoom- in
							{
								$Duration : 1200,
								$Zoom : 1,
								$Easing : {
									$Zoom : $JssorEasing$.$EaseInCubic,
									$Opacity : $JssorEasing$.$EaseOutQuad
								},
								$Opacity : 2
							},
							//Zoom+ out
							{
								$Duration : 1000,
								$Zoom : 11,
								$SlideOut : true,
								$Easing : {
									$Zoom : $JssorEasing$.$EaseInExpo,
									$Opacity : $JssorEasing$.$EaseLinear
								},
								$Opacity : 2
							},
							//Rotate Zoom- in
							{
								$Duration : 1200,
								$Zoom : 1,
								$Rotate : 1,
								$During : {
									$Zoom : [0.2, 0.8],
									$Rotate : [0.2, 0.8]
								},
								$Easing : {
									$Zoom : $JssorEasing$.$EaseSwing,
									$Opacity : $JssorEasing$.$EaseLinear,
									$Rotate : $JssorEasing$.$EaseSwing
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.5
								}
							},
							//Rotate Zoom+ out
							{
								$Duration : 1000,
								$Zoom : 11,
								$Rotate : 1,
								$SlideOut : true,
								$Easing : {
									$Zoom : $JssorEasing$.$EaseInExpo,
									$Opacity : $JssorEasing$.$EaseLinear,
									$Rotate : $JssorEasing$.$EaseInExpo
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.8
								}
							},

							//Zoom HDouble- in
							{
								$Duration : 1200,
								x : 0.5,
								$Cols : 2,
								$Zoom : 1,
								$Assembly : 2049,
								$ChessMode : {
									$Column : 15
								},
								$Easing : {
									$Left : $JssorEasing$.$EaseInCubic,
									$Zoom : $JssorEasing$.$EaseInCubic,
									$Opacity : $JssorEasing$.$EaseLinear
								},
								$Opacity : 2
							},
							//Zoom HDouble+ out
							{
								$Duration : 1200,
								x : 4,
								$Cols : 2,
								$Zoom : 11,
								$SlideOut : true,
								$Assembly : 2049,
								$ChessMode : {
									$Column : 15
								},
								$Easing : {
									$Left : $JssorEasing$.$EaseInExpo,
									$Zoom : $JssorEasing$.$EaseInExpo,
									$Opacity : $JssorEasing$.$EaseLinear
								},
								$Opacity : 2
							},

							//Rotate Zoom- in L
							{
								$Duration : 1200,
								x : 0.6,
								$Zoom : 1,
								$Rotate : 1,
								$During : {
									$Left : [0.2, 0.8],
									$Zoom : [0.2, 0.8],
									$Rotate : [0.2, 0.8]
								},
								$Easing : {
									$Left : $JssorEasing$.$EaseSwing,
									$Zoom : $JssorEasing$.$EaseSwing,
									$Opacity : $JssorEasing$.$EaseLinear,
									$Rotate : $JssorEasing$.$EaseSwing
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.5
								}
							},
							//Rotate Zoom+ out R
							{
								$Duration : 1000,
								x : -4,
								$Zoom : 11,
								$Rotate : 1,
								$SlideOut : true,
								$Easing : {
									$Left : $JssorEasing$.$EaseInExpo,
									$Zoom : $JssorEasing$.$EaseInExpo,
									$Opacity : $JssorEasing$.$EaseLinear,
									$Rotate : $JssorEasing$.$EaseInExpo
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.8
								}
							},
							//Rotate Zoom- in R
							{
								$Duration : 1200,
								x : -0.6,
								$Zoom : 1,
								$Rotate : 1,
								$During : {
									$Left : [0.2, 0.8],
									$Zoom : [0.2, 0.8],
									$Rotate : [0.2, 0.8]
								},
								$Easing : {
									$Left : $JssorEasing$.$EaseSwing,
									$Zoom : $JssorEasing$.$EaseSwing,
									$Opacity : $JssorEasing$.$EaseLinear,
									$Rotate : $JssorEasing$.$EaseSwing
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.5
								}
							},
							//Rotate Zoom+ out L
							{
								$Duration : 1000,
								x : 4,
								$Zoom : 11,
								$Rotate : 1,
								$SlideOut : true,
								$Easing : {
									$Left : $JssorEasing$.$EaseInExpo,
									$Zoom : $JssorEasing$.$EaseInExpo,
									$Opacity : $JssorEasing$.$EaseLinear,
									$Rotate : $JssorEasing$.$EaseInExpo
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.8
								}
							},

							//Rotate HDouble- in
							{
								$Duration : 1200,
								x : 0.5,
								y : 0.3,
								$Cols : 2,
								$Zoom : 1,
								$Rotate : 1,
								$Assembly : 2049,
								$ChessMode : {
									$Column : 15
								},
								$Easing : {
									$Left : $JssorEasing$.$EaseInCubic,
									$Top : $JssorEasing$.$EaseInCubic,
									$Zoom : $JssorEasing$.$EaseInCubic,
									$Opacity : $JssorEasing$.$EaseOutQuad,
									$Rotate : $JssorEasing$.$EaseInCubic
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.7
								}
							},
							//Rotate HDouble- out
							{
								$Duration : 1000,
								x : 0.5,
								y : 0.3,
								$Cols : 2,
								$Zoom : 1,
								$Rotate : 1,
								$SlideOut : true,
								$Assembly : 2049,
								$ChessMode : {
									$Column : 15
								},
								$Easing : {
									$Left : $JssorEasing$.$EaseInExpo,
									$Top : $JssorEasing$.$EaseInExpo,
									$Zoom : $JssorEasing$.$EaseInExpo,
									$Opacity : $JssorEasing$.$EaseLinear,
									$Rotate : $JssorEasing$.$EaseInExpo
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.7
								}
							},
							//Rotate VFork in
							{
								$Duration : 1200,
								x : -4,
								y : 2,
								$Rows : 2,
								$Zoom : 11,
								$Rotate : 1,
								$Assembly : 2049,
								$ChessMode : {
									$Row : 28
								},
								$Easing : {
									$Left : $JssorEasing$.$EaseInCubic,
									$Top : $JssorEasing$.$EaseInCubic,
									$Zoom : $JssorEasing$.$EaseInCubic,
									$Opacity : $JssorEasing$.$EaseOutQuad,
									$Rotate : $JssorEasing$.$EaseInCubic
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.7
								}
							},
							//Rotate HFork in
							{
								$Duration : 1200,
								x : 1,
								y : 2,
								$Cols : 2,
								$Zoom : 11,
								$Rotate : 1,
								$Assembly : 2049,
								$ChessMode : {
									$Column : 19
								},
								$Easing : {
									$Left : $JssorEasing$.$EaseInCubic,
									$Top : $JssorEasing$.$EaseInCubic,
									$Zoom : $JssorEasing$.$EaseInCubic,
									$Opacity : $JssorEasing$.$EaseOutQuad,
									$Rotate : $JssorEasing$.$EaseInCubic
								},
								$Opacity : 2,
								$Round : {
									$Rotate : 0.8
								}
							}];

							var options = {
								$AutoPlay : true, //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
								$AutoPlayInterval : 1500, //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
								$PauseOnHover : 1, //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

								$DragOrientation : 3, //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
								$ArrowKeyNavigation : true, //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
								$SlideDuration : 600, //Specifies default duration (swipe) for slide in milliseconds

								$SlideshowOptions : {//[Optional] Options to specify and enable slideshow or not
									$Class : $JssorSlideshowRunner$, //[Required] Class to create instance of slideshow
									$Transitions : _SlideshowTransitions, //[Required] An array of slideshow transitions to play slideshow
									$TransitionsOrder : 1, //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
									$ShowLink : true //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
								},

								$ArrowNavigatorOptions : {//[Optional] Options to specify and enable arrow navigator or not
									$Class : $JssorArrowNavigator$, //[Requried] Class to create arrow navigator instance
									$ChanceToShow : 1, //[Required] 0 Never, 1 Mouse Over, 2 Always
									$AutoCenter : 2, //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
									$Steps : 1 //[Optional] Steps to go for each navigation request, default value is 1
								},

								$ThumbnailNavigatorOptions : {//[Optional] Options to specify and enable thumbnail navigator or not
									$Class : $JssorThumbnailNavigator$, //[Required] Class to create thumbnail navigator instance
									$ChanceToShow : 2, //[Required] 0 Never, 1 Mouse Over, 2 Always

									$ActionMode : 1, //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
									$Lanes : 2, //[Optional] Specify lanes to arrange thumbnails, default value is 1
									$SpacingX : 14, //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
									$SpacingY : 12, //[Optional] Vertical space between each thumbnail in pixel, default value is 0
									$DisplayPieces : 6, //[Optional] Number of pieces to display, default value is 1
									$ParkingPosition : 156, //[Optional] The offset position to park thumbnail
									$Orientation : 2 //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
								}
							};

							var jssor_slider1 = new $JssorSlider$(containerId, options);
							//responsive code begin
							//you can remove responsive code if you don't want the slider scales while window resizes
							function ScaleSlider() {
								var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
								if (parentWidth)
									jssor_slider1.$ScaleWidth(Math.max(Math.min(parentWidth, 960), 300));
								else
									$Jssor$.$Delay(ScaleSlider, 30);
							}

							ScaleSlider();
							$Jssor$.$AddEvent(window, "load", ScaleSlider);

							$Jssor$.$AddEvent(window, "resize", $Jssor$.$WindowResizeFilter(window, ScaleSlider));
							$Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
							//responsive code end
						};
					</script>
					<!-- Jssor Slider Begin -->
					<!-- To move inline styles to css file/block, please specify a class name for each element. -->
					<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 960px;
					height: 480px; background: #191919; overflow: hidden;">

						<!-- Loading Screen -->
						<div u="loading" style="position: absolute; top: 0px; left: 0px;">
							<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
							background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;"></div>
							<div style="position: absolute; display: block; background: url(../../assets/loading.gif) no-repeat center center;
							top: 0px; left: 0px;width: 100%;height:100%;"></div>
						</div>

						<!-- Slides Container -->
						<div u="slides" style=" position: absolute; left: 240px; top: 0px; width: 720px; height: 480px; overflow: hidden;">
							<% nombreT=nil%>
							<%@trabajos.each do |trabajo|%>
							<%if nombreT==nil%>
							<% nombreT=trabajo.nombreTrabajo%>
							<%end%>
							<%if nombreT!=trabajo.nombreTrabajo%>
							<% nombreT=trabajo.nombreTrabajo%>
							<div>
								<img u="image" src="../../assets/Siguiente.jpg" />
								<img u="thumb" src="../../assets/Siguiente.jpg" />
							</div>
							<%end%>
							<div>
								<img u="image" src="../../uploads/<%= trabajo.foto%>" class="tooltip" title="&lt;img src=&quot;../../uploads/<%= trabajo.foto%>&quot; /&gt;" />
								<img u="thumb" src="../../uploads/<%= trabajo.foto%>" />
							</div>
							<%end%>
						</div>

						<!--#region Arrow Navigator Skin Begin -->
						<style>
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r {
display: block;
position: absolute;
/* size of arrow element */
width: 40px;
height: 40px;
cursor: pointer;
background: url(../../assets/a17.png) no-repeat;
overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
						</style>
						<!-- Arrow Left -->
						<span u="arrowleft" class="jssora05l" style="top: 158px; left: 248px;"> </span>
						<!-- Arrow Right -->
						<span u="arrowright" class="jssora05r" style="top: 158px; right: 8px"> </span>
						<!--#endregion Arrow Navigator Skin End -->
						<!--#region Thumbnail Navigator Skin Begin -->
						<!-- Help: http://www.jssor.com/development/slider-with-thumbnail-navigator-jquery.html -->
						<style>
/* jssor slider thumbnail navigator skin 02 css */
/*
.jssort02 .p            (normal)
.jssort02 .p:hover      (normal mouseover)
.jssort02 .p.pav        (active)
.jssort02 .p.pdn        (mousedown)
*/

.jssort02 {
position: absolute;
/* size of thumbnail navigator container */
width: 240px;
height: 480px;
}

.jssort02 .p {
position: absolute;
top: 0;
left: 0;
width: 99px;
height: 66px;
}

.jssort02 .t {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: none;
}

.jssort02 .w {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}

.jssort02 .c {
position: absolute;
top: 0px;
left: 0px;
width: 95px;
height: 62px;
border: #000 2px solid;
box-sizing: content-box;
background: url(../../assets/t01.png) -800px -800px no-repeat;
_background: none;
}

.jssort02 .pav .c {
top: 2px;
_top: 0px;
left: 2px;
_left: 0px;
width: 95px;
height: 62px;
border: #000 0px solid;
_border: #fff 2px solid;
background-position: 50% 50%;
}

.jssort02 .p:hover .c {
top: 0px;
left: 0px;
width: 97px;
height: 64px;
border: #fff 1px solid;
background-position: 50% 50%;
}

.jssort02 .p.pdn .c {
background-position: 50% 50%;
width: 95px;
height: 62px;
border: #000 2px solid;
}

* html .jssort02 .c, * html .jssort02 .pdn .c, * html .jssort02 .pav .c {
/* ie quirks mode adjust */
width /**/: 99px;
height /**/: 66px;
}
						</style>

						<!-- thumbnail navigator container -->
						<div u="thumbnavigator" class="jssort02" style="left: 0px; bottom: 0px;">
							<!-- Thumbnail Item Skin Begin -->
							<div u="slides" style="cursor: default;">
								<div u="prototype" class="p">
									<div class=w>
										<div u="thumbnailtemplate" class="t"></div>
									</div>
									<div class=c></div>
								</div>
							</div>
							<!-- Thumbnail Item Skin End -->
						</div>
						<!-- Trigger -->
						<script>
jssor_slider1_starter('slider1_container');
						</script>
					</div>
					<!-- Jssor Slider End -->

				</div>
			</section>

		</div>
	</body>
	<script>
        $(document).ready(function() {
            $('.tooltip').tooltipster({
                contentAsHTML: true,
   trigger: 'click',
   position: 'bottom',
   offsetY: -400,
   offsetX: -100
            });
        });
    </script>
</html>