<!DOCTYPE html>
<html>
<head>
	
  <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag '0-jquery', :type => "text/javascript" %>
  <%= javascript_include_tag '1-jquery-migrate-1.2.1', :type => "text/javascript" %>
  <%= javascript_include_tag 'application', :type => "text/javascript" %>
  <%= javascript_include_tag '7-device.min', :type => "text/javascript" %>
  <%= javascript_include_tag 'dropzone', :type => "text/javascript" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="La mejor empresa de ventanas y puertas de PVC en Almería. Con más de 20 años de experiencia. Montamos en un día.">
</head>
<body>
  <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div class="header-wrapper">
            <ul class="inline-list">
                <li><%=link_to es_inicio_path do%><img src="../../assets/Es.png" /><%end%></li>
                <li><%=link_to en_home_path do%><img src="../../assets/En.png" /><%end%></li>
                <li><%=link_to fr_home_path do%><img src="../../assets/Fr.png" /><%end%></li>
                <li><%=link_to de_home_path do%><img src="../../assets/De.png" /><%end%></li>
            </ul>
            <ul class="info-list">
            	<li class="fa fa-clock-o"><a>
            		<%if yield(:idioma)=="es"%>
            		Lunes-Viernes 
            		<%end%><%if yield(:idioma)=="en" %>
            		Monday-Friday 
            		<%end%><%if yield(:idioma)== "fr" %>
            		Lundi-Vendredi 
            		<%end%><%if yield(:idioma)=="de" %>
            		Montag-Freitag 
            		<%end%>
            		10:00-13:30 & 17:00-20:30</a></li>
                <li class="fa fa-map-marker">
                    <address>Ctra. de Ronda, 76 - bajo dcha</address>
                </li>
                <li class="fa fa-phone"><a href="callto:950263722">+34 950 26 37 22</a></li>
                <li class="fa fa-fax"><a>+34 950 27 73 82</a></li>
                <li class="fa fa-envelope"><a href="mailto:talleres.mazo@gmail.com">talleres.mazo@gmail.com</a></li>
            </ul>
        </div>
        <div id="stuck_container" class="stuck_container">
            <div class="brand">
            	<%if yield(:idioma)=="es"%>
            		<%=link_to es_inicio_path do%>
                <img class="brand_img" src="../../assets/logo.png" alt=""/>
					<%end%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%=link_to en_home_path do%>
                <img class="brand_img" src="../../assets/logo.png" alt=""/>
					<%end%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%=link_to fr_home_path do%>
                <img class="brand_img" src="../../assets/logo.png" alt=""/>
					<%end%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%=link_to de_home_path do%>
                <img class="brand_img" src="../../assets/logo.png" alt=""/>
					<%end%>
            		<%end%>
            </div>

            <nav class="nav">
                <ul class="sf-menu" data-type="navbar">
                	
                	<%if yield(:user)!=""%>
                	
                	<li>
                                <a><%=yield(:username)%></a>
                                <ul>
                                	<%if yield(:tipo)=="Blogger" or yield(:tipo)=="Administrador" %>
                                    <li>
            		<%= link_to "Articulos", articulos_path%>
                                    </li><%end%>
                                  <%if yield(:tipo)=="Traductor" or yield(:tipo)=="Administrador" %>
                                    <li>
            		<%= link_to "Traducciones", diccionarios_path%>
                                    </li><%end%>
                                     <%if yield(:tipo)=="Trabajos" or yield(:tipo)=="Administrador" %>
                                    <li>
            		<%= link_to "Trabajos", trabajos_path%>
                                    </li><%end%>
                                     <%if yield(:tipo)=="Administrador" %>
                                    <li>
            		<%= link_to "Usuarios", usuarios_path%>
                                    </li><%end%>
                                    <li>
            		<%= link_to "Cerrar sesión", salir_path%>
                                    </li>
                                </ul>
                      </li>
                	
                	<%end%>
                	
                    <li class="<%= yield(:inicio) %>">
                        <%if yield(:idioma)=="es"%>
            		<%= link_to "Inicio", es_inicio_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Home", en_home_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Home", fr_home_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Home", de_home_path%>
            		<%end%>
                    </li>
                     <li class="<%= yield(:acerca) %>">
                               <%if yield(:idioma)=="es"%>
            		<%= link_to "Acerca de", es_nuestraEmpresa_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "About", en_ourCompany_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Sur", fr_notreSociete_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Über", de_unserUnternehmen_path%>
            		<%end%>
                                <ul>
                                    <li>
                                        <%if yield(:idioma)=="es"%>
            		<%= link_to "Nuestra Empresa", es_nuestraEmpresa_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Our Company", en_ourCompany_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Notre Société", fr_notreSociete_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Unser Unternehmen", de_unserUnternehmen_path%>
            		<%end%>
                                    </li>
                                    <li>
                                                            <%if yield(:idioma)=="es"%>
            		<%= link_to "Nuestros Productos", es_nuestrosProductos_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Our Products", en_ourProducts_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Nos Produits", fr_nosProduits_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Unsere Produkte", de_unsereProdukte_path%>
            		<%end%>
                                    </li>
                                     <li>
                                        <%if yield(:idioma)=="es"%>
            		<%= link_to "Garantía", es_garantia_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Warranty", en_warranty_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Garantie", fr_garantie_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Garantie", de_garantie_path%>
            		<%end%>
                                    </li>
                                </ul>
                      </li>
                       <li class="<%= yield(:proveedores) %>">
                                          <%if yield(:idioma)=="es"%>
            		<%= link_to "Materiales de Calidad", es_materialesCalidad_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Quality Materials", en_qualityMaterials_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Matériaux de qualité", fr_materiauxQualite_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Werkstoffe Qualität", de_werkstoffeQualitat_path%>
            		<%end%>
                            </li>
                    <li class="<%= yield(:productos) %>">
                         <%if yield(:idioma)=="es"%>
            		<%= link_to "Productos", es_productos_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Products", en_products_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Produits", fr_produits_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Produkte", de_produkte_path%>
            		<%end%>
                        <ul>
                            <li >
                                <%if yield(:idioma)=="es"%>
            		<%= link_to "Ventanas", es_ventanas_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Windows", en_windows_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Fenêtres", fr_fenetres_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Fenster", de_fenster_path%>
            		<%end%>
                                <ul>
                                    <li>
                                           <%if yield(:idioma)=="es"%>
            		<%= link_to "Oscilobatiente", es_ventanas_path(:anchor => "oscilobatiente")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Tift", en_windows_path(:anchor => "oscilobatiente")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "D'inclinaison", fr_fenetres_path(:anchor => "oscilobatiente")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Kippfenster", de_fenster_path(:anchor => "oscilobatiente")%>
            		<%end%>
                                    </li>
                                    <li>
                                        <%if yield(:idioma)=="es"%>
            		<%= link_to "Practicable", es_ventanas_path(:anchor => "practicable")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Openable", en_windows_path(:anchor => "practicable")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Ouvrante", fr_fenetres_path(:anchor => "practicable")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "zu öffnende", de_fenster_path(:anchor => "practicable")%>
            		<%end%>
                                    </li>
                                    <li>
                                                   <%if yield(:idioma)=="es"%>
            		<%= link_to "Corredera", es_ventanas_path(:anchor => "corredera")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Sliding", en_windows_path(:anchor => "corredera")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Coulissante", fr_fenetres_path(:anchor => "corredera")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Schiebefenster", de_fenster_path(:anchor => "corredera")%>
            		<%end%>
                                    </li>
                                    <li>
                                         <%if yield(:idioma)=="es"%>
            		<%= link_to "Plegable", es_ventanas_path(:anchor => "plegable")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Folding", en_windows_path(:anchor => "plegable")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "pliante", fr_fenetres_path(:anchor => "plegable")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Klappfenster", de_fenster_path(:anchor => "plegable")%>
            		<%end%>
                                    </li>
                                    <li>
                                              <%if yield(:idioma)=="es"%>
            		<%= link_to "Paralela", es_ventanas_path(:anchor => "paralela")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Parallel", en_windows_path(:anchor => "paralela")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Parallèlement", fr_fenetres_path(:anchor => "paralela")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Parallel", de_fenster_path(:anchor => "paralela")%>
            		<%end%>
                                    </li>
                                    <li>
                                       <%if yield(:idioma)=="es"%>
            		<%= link_to "Elevadora", es_ventanas_path(:anchor => "elevadora")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Lifting", en_windows_path(:anchor => "elevadora")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Élévateur", fr_fenetres_path(:anchor => "elevadora")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Fensterheber", de_fenster_path(:anchor => "elevadora")%>
            		<%end%>
                                    </li>
                                    <li>
                                           <%if yield(:idioma)=="es"%>
            		<%= link_to "Osciloparalela", es_ventanas_path(:anchor => "osciloparalela")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Oscillating parallel", en_windows_path(:anchor => "osciloparalela")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Oscillant parallèle", fr_fenetres_path(:anchor => "osciloparalela")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Schwingfenster parallel", de_fenster_path(:anchor => "osciloparalela")%>
            		<%end%>
                                    </li>
                                    <li>
                                                    <%if yield(:idioma)=="es"%>
            		<%= link_to "Oscilante", es_ventanas_path(:anchor => "oscilante")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Oscillating", en_windows_path(:anchor => "oscilante")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Oscillant", fr_fenetres_path(:anchor => "oscilante")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Schwingfenster", de_fenster_path(:anchor => "oscilante")%>
            		<%end%>
                                    </li>
                                    <li>
                                                     <%if yield(:idioma)=="es"%>
            		<%= link_to "Ojo de Buey", es_ventanas_path(:anchor => "ojobuey")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Porthole", en_windows_path(:anchor => "ojobuey")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Hublot", fr_fenetres_path(:anchor => "ojobuey")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Bullaugen-Fenster", de_fenster_path(:anchor => "ojobuey")%>
            		<%end%>
                                    </li>
                                    <li>
                                         <%if yield(:idioma)=="es"%>
            		<%= link_to "De medio punto", es_ventanas_path(:anchor => "mediopunto")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Round-arch", en_windows_path(:anchor => "mediopunto")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Semi-circulaire", fr_fenetres_path(:anchor => "mediopunto")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Halbrunde", de_fenster_path(:anchor => "mediopunto")%>
            		<%end%>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <%if yield(:idioma)=="es"%>
            		<%= link_to "Puertas", es_puertas_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Doors", en_doors_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Portes", fr_portes_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Türen", de_turen_path%>
            		<%end%>
                                 <ul>
                                 	<li>
                                         <%if yield(:idioma)=="es"%>
            		<%= link_to "Practicable", es_puertas_path(:anchor => "practicable")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Openable", en_doors_path(:anchor => "practicable")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Ouvrante", fr_portes_path(:anchor => "practicable")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "zu öffnende", de_turen_path(:anchor => "practicable")%>
            		<%end%>
                                    </li>
                                    <li>
                                           <%if yield(:idioma)=="es"%>
            		<%= link_to "Corredera", es_puertas_path(:anchor => "corredera")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Sliding", en_doors_path(:anchor => "corredera")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Coulissante", fr_portes_path(:anchor => "corredera")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Schiebetür", de_turen_path(:anchor => "corredera")%>
            		<%end%>
                                    </li>
                                     <li>
                                           <%if yield(:idioma)=="es"%>
            		<%= link_to "Paralela", es_puertas_path(:anchor => "paralela")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Parallel", en_doors_path(:anchor => "paralela")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Parallèlement", fr_portes_path(:anchor => "paralela")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Parallel", de_turen_path(:anchor => "paralela")%>
            		<%end%>
                                    </li>
                                    <li>
                                       <%if yield(:idioma)=="es"%>
            		<%= link_to "Elevadora", es_puertas_path(:anchor => "elevadora")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Lifting", en_doors_path(:anchor => "elevadora")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Élévateur", fr_portes_path(:anchor => "elevadora")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Schlagbäume", de_turen_path(:anchor => "elevadora")%>
            		<%end%>
                                    </li>
                                    <li>
                                         <%if yield(:idioma)=="es"%>
            		<%= link_to "Oscilobatiente", es_puertas_path(:anchor => "oscilobatiente")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Tift", en_doors_path(:anchor => "oscilobatiente")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "D'inclinaison", fr_portes_path(:anchor => "oscilobatiente")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Kipp-Tür", de_turen_path(:anchor => "oscilobatiente")%>
            		<%end%>
                                    </li>
                                                                        <li>
                                              <%if yield(:idioma)=="es"%>
            		<%= link_to "Osciloparalela", es_puertas_path(:anchor => "osciloparalela")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Oscillating parallel", en_doors_path(:anchor => "osciloparalela")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Oscillant parallèle", fr_portes_path(:anchor => "osciloparalela")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Schwingtür parallel", de_turen_path(:anchor => "osciloparalela")%>
            		<%end%>
                                    </li>
                                                                      <li>
                                                    <%if yield(:idioma)=="es"%>
            		<%= link_to "De Entrada", es_puertas_path(:anchor => "ciega")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Blind (Panel)", en_doors_path(:anchor => "ciega")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Aveugles (panneau)", fr_portes_path(:anchor => "ciega")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Blind (Panel)", de_turen_path(:anchor => "ciega")%>
            		<%end%>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                                   <%if yield(:idioma)=="es"%>
            		<%= link_to "Cerramientos", es_cerramientos_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Closings", en_enclosures_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Enclosures", fr_boitiers_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Gehäuse", de_gehause_path%>
            		<%end%>
                            </li>
                             <li>
                                   <%if yield(:idioma)=="es"%>
            		<%= link_to "Cristal Inteligente", es_cristalInteligente_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Intelligent Glass", en_intelligentGlass_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Verre Intelligent", fr_verreIntelligent_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Intelligent Glas", de_intelligentGlas_path%>
            		<%end%>
                            </li>
                        </ul>
                    </li>
                    <li class="<%= yield(:trabajos) %>">
                                        <%if yield(:idioma)=="es"%>
            		<%= link_to "Trabajos", es_trabajos_path%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Works", en_works_path%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Travaux", fr_travaux_path%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Arbeit", de_arbeit_path%>
            		<%end%>
                    </li>
                    <li>
                        <%if yield(:idioma)=="es"%>
            		<%= link_to "Contacto", es_inicio_path(:anchor => "contacto")%>
            		<%end%><%if yield(:idioma)=="en" %>
            		<%= link_to "Contact", en_home_path(:anchor => "contacto")%>
            		<%end%><%if yield(:idioma)== "fr" %>
            		<%= link_to "Contact", fr_home_path(:anchor => "contacto")%>
            		<%end%><%if yield(:idioma)=="de" %>
            		<%= link_to "Kontakt", de_home_path(:anchor => "contacto")%>
            		<%end%>
                    </li>
                     <li class="<%= yield(:blog) %>">
                            <%if yield(:idioma)=="es"%>
            		<%= link_to "Blog", es_blog_path%>
            		<%else%>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		<%end%>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
<%= yield %>
<!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <div class="container center">
            <ul class="inline-list">
                <li><%=link_to "",usuarios_path, class: "fa fa-user-secret" %></li>
                <li><%=link_to "",diccionarios_path, class: "fa fa-leanpub" %></a></li>
                <li><%=link_to "",articulos_path, class: "fa fa-bold" %></a></li>
            </ul>
            <hr/>
            <div class="copyright">
                Talleres Mazo © <span id="copyright-year"></span> |
                <%=link_to "Aviso legal. Terminos de uso.", es_avisoLegal_path%></div>
        </div>
    </footer>

    <%= javascript_include_tag '2-script', :type => "text/javascript" %>
<%= javascript_include_tag '3-jquery.cookie', :type => "text/javascript" %>
<%= javascript_include_tag '4-jquery.easing.1.3', :type => "text/javascript" %>
<%= javascript_include_tag '8-tmstickup', :type => "text/javascript" %>
<%= javascript_include_tag '9-jquery.ui.totop', :type => "text/javascript" %>
<%= javascript_include_tag '5-superfish', :type => "text/javascript" %>
<%= javascript_include_tag '6-jquery.rd-navbar', :type => "text/javascript" %>
<%= javascript_include_tag 'a3-jquery.rd-google-map' , :type => "text/javascript"%>
<%= javascript_include_tag 'a4-wow', :type => "text/javascript" %>
<%= javascript_include_tag 'a9-jquery.fancybox', :type => "text/javascript" %>
<%= javascript_include_tag 'b1-jquery.fancybox-media', :type => "text/javascript" %>
<%= javascript_include_tag 'b2-jquery.fancybox-buttons' , :type => "text/javascript"%>
<%= javascript_include_tag 'jquery.tooltipster.min' , :type => "text/javascript"%>
</body>

</html>
