<%= form_for(@articulo) do |f| %>
  <% if @articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
      <% @articulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<style>
		textarea {
			width: 100%;
			height: 100px;
		}
		input[type="submit"]{
			width: 100%;
			height: 100%;
			font-size: 330%;
		}
	</style>

<div class="tablaTraduciones" >
                <table >
                    <tr>
                    	<td colspan="4">
                            CREAR / EDITAR ARTICULO
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="4" style="text-align: center;">
                    		<%if @articulo.foto!=nil%>
                            <img style="width: 250px; height: auto;" src="../../uploads/<%= @articulo.foto %>" /><br />
                            Si quiere cambiar la foto:<br />
                            <%end%>
                            <%= f.file_field :foto %><br />
                            PD: Si ha seleccionado un archivo la foto se mostrará cuando de la botón de "Crear / Actualizar Articulo"
                        </td>
                    </tr>
      <tr>
        <td style="text-align: center;"><strong>Título Es</strong></td>
        <td style="text-align: center;"><strong>Título En</strong></td>
        <td style="text-align: center;"><strong>Título Fr</strong></td>
        <td style="text-align: center;"><strong>Título De</strong></td>
      </tr>
      <tr>
        <td><%= f.text_field :tituloEs %></td>
        <td><%= f.text_field :tituloEn %></td>
        <td><%= f.text_field :tituloFr %></td>
        <td><%= f.text_field :tituloDe %></td>
      </tr>
       <tr>
        <td style="text-align: center;"><strong>Subtítulo Es</strong></td>
        <td style="text-align: center;"><strong>Subtítulo En</strong></td>
        <td style="text-align: center;"><strong>Subtítulo Fr</strong></td>
        <td style="text-align: center;"><strong>Subtítulo De</strong></td>
      </tr>
      <tr>
        <td><%= f.text_field :subtituloEs %></td>
        <td><%= f.text_field :subtituloEn %></td>
        <td><%= f.text_field :subtituloFr %></td>
        <td><%= f.text_field :subtituloDe %></td>
      </tr>
       <tr>
        <td style="text-align: center;"><strong>Descripción Es</strong></td>
        <td style="text-align: center;"><strong>Descripción En</strong></td>
        <td style="text-align: center;"><strong>Descripción Fr</strong></td>
        <td style="text-align: center;"><strong>Descripción De</strong></td>
      </tr>
      <tr>
        <td><%= f.text_area :descripcionEs %></td>
        <td><%= f.text_area :descripcionEn %></td>
        <td><%= f.text_area :descripcionFr %></td>
      	<td><%= f.text_area :descripcionDe %></td>
      </tr>
      <tr>
                    	
                        <td colspan="4" style="text-align: center;">
                           <div class="actions" style="margin: -30px -30px -30px -30px;">
    <%= f.submit "Crear / Actualizar Articulo"%>
  </div>
                        </td>
                    </tr>
					<tr>
                        <td colspan="2" style="text-align: center;">
                            <%= link_to '=================SHOW=================', @articulo%>
                        </td>
                        <td colspan="2" style="text-align: center;">
                            <%= link_to '=================BACK=================', articulos_path %>
                        </td>
                    </tr>
                </table>
            </div>
            
<% end %>
